@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/fluid-font";
@import "utils/sprite";
@import "utils/breadcrumbs";
//@include sprites($spritesheet-sprites);

html {
  font-family: $main-font, Arial, serif;
  font-size: $base-font-size;
  font-weight: 400;
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
   -webkit-text-stroke-width: 0 !important;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.no-scroll {
    position: relative;
    overflow: hidden;

    &::after {
        position: absolute;
        content: '';

        width: 100%;
        height: 100%;

        top: 55px;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: rgba(0, 0, 0, 0.7);
        z-index: 0;
    }
}

.body--index {
    background-color: $lightwhite;
}

.body__dark {
    background-color: $black;
}

.body--about {
    @include flex-setting(column, flex-start, center);
    background-color: $lightwhite;
}
.main--news {
    background-color: $lightwhite;
}

.main--series {
    background-color: $lightblack;

    .breadcrumbs {
        &__link,
        &__divider {
            color: $lightwhite;
        }
    }
}

.main--watch {
    background-color: $lightwhite;
}

.main--program {
    background-color: $lightwhite;
}

.main--article {
    background-color: $lightwhite;
    position: relative;

    .breadcrumbs__item:last-child {
        display: none;
    }

    .breadcrumbs__item:nth-child(2) {
        .breadcrumbs__divider {
            display: none;
        }
    }
}

.main--show {
    .breadcrumbs__item:last-child {
        display: none;
    }

    .breadcrumbs__item:nth-child(2) {
        .breadcrumbs__divider {
            display: none;
        }
    }
}

.main--contacts {
    background-color: $lightwhite;
}

@include min-screen(768px) {
    .main__banner {
        display: none;
    }

    .main--contacts {
        .breadcrumbs {
            padding-top: 2.25rem;
        }
    }
}

@include min-screen(1366px) {
    .main--program {
        .breadcrumbs {
            margin-bottom: 2.25rem;
        }
    }

    .main--article,
    .main--show {
        .breadcrumbs__item:last-child {
            display: flex;
        }

        .breadcrumbs__item:nth-child(2) {
            .breadcrumbs__divider {
                display: block;
            }
        }
    }
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }
//Модули
@import "modules/modules";
