section.about
    .about__wrapper
        .about__logo
            img(src="static/images/content/logo-white.svg" alt="Paramount Comedy").about__logo-img
        .about__info
            h2.about__title Paramount Comedy - российский развлекательный канал
            p.about__description Лучшие комедийные сериалы, самые удачные скетчи, российский и зарубежный стендап – Paramount Comedy показывает все, что смешно. «Теория большого взрыва» и «Как я встретил вашу маму» (по версии Кураж-Бамбей), «Южный парк» в озвучке Жени Рыбова, «Друзья», «Две девицы на мели», «Майк и Молли», «Бывает и хуже» - все это можно посмотреть на Парамаунт Камеди. 
            p.about__description И прямо сейчас Вы на его официальном сайте. Тут Вас ждет вся возможная информация о наших сериалах – подробности и тайны из жизни героев, факты о происходящем на экране и за ним, а также видео, саундтреки и игры. Пришло время наслаждаться.
