section.intro
    .intro__wrapper
        .intro__slider.swiper-container
            .swiper-wrapper
                +introItem('intro-image-1', 'Смотри “Шиттс Крик” и участвуй в конкурсе вторая строка тест', 'Познакомься с новым сериалом, прояви фантазию и выиграй дорожную сумку люксового бренда', '#', 'Узнать')
                +introItem('intro-image-1', 'Смотри “Шиттс Крик” и участвуй в конкурсе', 'Познакомься с новым сериалом, прояви фантазию и выиграй дорожную сумку люксового бренда', '#', 'Узнать 1')
                +introItem('intro-image-1', 'Смотри “Шиттс Крик” и участвуй в конкурсе', 'Познакомься с новым сериалом, прояви фантазию и выиграй дорожную сумку люксового бренда', '#', 'Узнать 2')
                +introItem('intro-image-1', 'Смотри “Шиттс Крик” и участвуй в конкурсе', 'Познакомься с новым сериалом, прояви фантазию и выиграй дорожную сумку люксового бренда', '#', 'Узнать 3')
                +introItem('intro-image-1', 'Смотри “Шиттс Крик” и участвуй в конкурсе', 'Познакомься с новым сериалом, прояви фантазию и выиграй дорожную сумку люксового бренда', '#', 'Узнать 4')
            .intro__navigation
                button(type="button").intro__prev
                button(type="button").intro__next
            .swiper-pagination
