section.live
    .live__wrapper
        h2.live__title Сейчас в эфире
            
        .live__slider.swiper-container-1
            .swiper-wrapper
                +liveItem('live-image-1', '#', '22-07-2021 19:00', '19:00', 'Теория большого взрыва', '5 сезон 1 серия')
                +liveItem('live-image-2', '#', '22-07-2021 19:00', '19:00', 'Теория большого взрыва', '5 сезон 1 серия')
                +liveItem('live-image-1', '#', '22-07-2021 19:00', '19:00', 'Теория большого взрыва', '5 сезон 1 серия')
                +liveItem('live-image-2', '#', '22-07-2021 19:00', '19:00', 'Теория большого взрыва', '5 сезон 1 серия')
            .live__controls
                button(type="button").live__prev
                button(type="button").live__next
        a(href="schedule.html" target="_self").live__more Телепрограмма
