section.program
    .program__wrapper
        h1.program__title Телепрограмма 
            time(datetime="12-07-2021") 12.07.2021
        button(type="button").program__before Ранее в эфире
        
        ul.program__list
            +progItem('show.html', '12-07-2021 20:30', '20:30 МСК', 'prog-image-1', 'now', 'Теория большого взрыва', '5 сезон 1 серия', '16+ Ребята оказываются на обочине на пути на КомикКон. Девушки пытаются разобраться в увлечении своих парней, и это приводит к жаркому спору об одном из персонажей.')
            +progItem('show.html', '12-07-2021 21:00', '21:00 МСК', 'prog-image-1', 'next', 'Теория большого взрыва', '5 сезон 1 серия', '16+ Когда Говард одевается как Шелдон на Хеллоуин, Шелдон старается отплатить ему той же монетой на вечеринке Пенни и Леонарда. Леонард расстроен тем, что Пенни не помнит их первый поцелуй.')
            +progItem('show.html', '12-07-2021 21:30', '21:30 МСК', 'prog-image-2', '', 'Как я встретил вашу маму', '5 сезон 1 серия', '16+ Ребята оказываются на обочине на пути на КомикКон. Девушки пытаются разобраться в увлечении своих парней, и это приводит к жаркому спору об одном из персонажей.')
            +progItem('show.html', '12-07-2021 22:00', '22:00 МСК', 'prog-image-2', '', 'Как я встретил вашу маму', '5 сезон 1 серия', '16+ Ребята оказываются на обочине на пути на КомикКон. Девушки пытаются разобраться в увлечении своих парней, и это приводит к жаркому спору об одном из персонажей.')
        
        .program__banner.line-banner
            .line-banner__wrapper
        .program__banner.quad-banner
            .quad-banner__wrapper
            .quad-banner__wrapper
        p.program__disclaimer Да здравствует новый день! Телепрограмма на 
            a(href="#" target="_self" id="datetime")
                time(datetime="13-07-2021").program__disclaimer-time Вторник 13 июля
        a(href="#" target="_self").program__top.js-scroll-to-top Наверх
