.share
    .share__wrapper
        b.share__title Шер и репост
        ul.share__list
            li.share__item
                a(href="#" target="_blank").share__link
                    i.fab.fa-facebook-f
            li.share__item
                a(href="#" target="_blank").share__link
                    i.fab.fa-odnoklassniki
            li.share__item
                a(href="#" target="_blank").share__link
                    i.fab.fa-vk
