section.trends
    .trends__wrapper
        h2.trends__title Интересное
        .trends__slider.swiper-container-2
            ul.swiper-wrapper
                +mediaItem('trends__item swiper-slide', 'feed-image-1', 'У кортни Кокс день рождения, и её поздравляет Дженнифер Энистон', '#', '2023', '22-07-2021 19:40', '22.07.2021')
                +mediaItem('trends__item swiper-slide', 'feed-image-2', 'У кортни Кокс день рождения, и её поздравляет Дженнифер Энистон', '#', '2023', '22-07-2021 19:40', '22.07.2021')
                +mediaItem('trends__item swiper-slide', 'feed-image-3', 'У кортни Кокс день рождения, и её поздравляет Дженнифер Энистон', '#', '2023', '22-07-2021 19:40', '22.07.2021')
                +mediaItem('trends__item swiper-slide', 'feed-image-1', 'У кортни Кокс день рождения, и её поздравляет Дженнифер Энистон', '#', '2023', '22-07-2021 19:40', '22.07.2021')
            .swiper-pagination
        button(type="button").trends__prev
        button(type="button").trends__next
