include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
		link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
	body.body.body--index
		include ../modules/header/header
		main.main
			.body__dark
				include ../modules/blocks/intro
			
				.line-banner
					.line-banner__wrapper
				include ../modules/blocks/feed
						
			include ../modules/blocks/live
			.quad-banner
				.quad-banner__wrapper
			include ../modules/blocks/about
		include ../modules/footer/footer
		script(src="static/js/vendor/jquery-3.3.1.min.js")
		//script(src="static/js/vendor/libs.js")
		script(src="static/js/main.js")
		script(src="https://unpkg.com/swiper/swiper-bundle.js")
		script(src="static/js/slider.js")
		block script
