include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
    body.body.body--watch
        include ../modules/header/header		
        main.main.main--watch
            section.watch
                .watch__upper
                    +breadcrumb([["Главная ", "/index.html"], ["Что посмотреть? ", "#"]])

                    .watch__info
                        h1.watch__title Что посмотреть из стоящего кино и сериалов?
                        ul.watch__cats
                            for i in watchList
                                li.watch__tag
                                    a(href="" +i.link target="_self").watch__tag-link=i.name

            section.feed.feed--watch#watch
                .feed__wrapper
                    h2.feed__title Что посмотреть?
                    ul.feed__list.feed__list--watch
                        +mediaItem('feed__item', 'feed-image-1', 'У кортни Кокс день рождения, и её поздравляет Дженнифер Энистон', 'show.html', '2023', '22-07-2021 19:40', '22.07.2021')
                        +mediaItem('feed__item', 'feed-image-3', 'У кортни Кокс день рождения, и её поздравляет Дженнифер Энистон', '#', '2023', '22-07-2021 19:40', '22.07.2021')

                        li.feed__banner.line-banner
                            .line-banner__wrapper
                        +mediaItem('feed__item', 'feed-image-2', 'У кортни Кокс день рождения, и её поздравляет Дженнифер Энистон', '#', '2023', '22-07-2021 19:40', '22.07.2021')
                        +mediaItem('feed__item', 'feed-image-3', 'У кортни Кокс день рождения, и её поздравляет Дженнифер Энистон', '#', '2023', '22-07-2021 19:40', '22.07.2021')
                    button(type="button").feed__more.feed__more--blue Eщё подборки
                    a(href="#" target="_self").feed__top.js-scroll-to-top Наверх
        include ../modules/footer/footer
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        //script(src="static/js/vendor/libs.js")
        script(src="static/js/main.js")
        script(src="https://unpkg.com/swiper/swiper-bundle.js")
        script(src="static/js/slider.js")
        block script
