extends layout/article

block variables
	-var title = 'Статья | Paramount Comedy'
	-var synopsisData = [{type: 'rank', name: 'Оценка', data: '7,1/7,4 (Кинопоиск/IMDB)'}, {type: 'genre', name: 'Жанр', data: 'Ужасы, триллер, детектив, драма'}, {type: 'origin', name: 'Страна', data: 'Испания, Мексика'}, {type: 'stars', name: 'В ролях', data: 'Белен Руэнда, Фернандо Кайо, Рохер Принсе и др.'}, {type: 'director', name: 'Режиссёр', data: 'Хуан Антонио Байона'}, {type: 'studio', name: 'Студия', data: 'Warner Bros.'}, {type: 'release', name: 'Дата премьеры', data: '20 мая 2007'}, {type: 'scenario', name: 'Сценарий', data: 'Серхио Х. Санчес'}]
	-var watchList = [{link: '#', name: 'Сериалы'}, {link: '#', name: 'TOP'}, {link: '#', name: 'Боевики'}, {link: '#', name: 'Военные'}, {link: '#', name: 'Детективы'}, {link: '#', name: 'Драмы'}, {link: '#', name: 'Интересные факты'}, {link: '#', name: 'Исторические'}, {link: '#', name: 'Комедии'}, {link: '#', name: 'Криминальные'}, {link: '#', name: 'Мелодрамы'}, {link: '#', name: 'Мультфильмы'}, {link: '#', name: 'На реальных событиях'}, {link: '#', name: 'Приключения'}, {link: '#', name: 'Семейные'}, {link: '#', name: 'Триллеры'}, {link: '#', name: 'Ужасы'}, {link: '#', name: 'Фантастика'}, {link: '#', name: 'Фильмы-катастрофы'}, {link: '#', name: 'Фэнтези'}]
