.breadcrumbs {
    width: 100%;

    @include flex-setting(column, center, center);

    padding: 0.8125rem 0.9375rem 0 0.9375rem;
    margin-bottom: 0.8125rem;

    &__list {
        width: 100%;
        @include flex-setting(row, flex-start, center);
    }

    &__item {
        width: auto;
        height: auto;
        margin-right: 0.25rem;
        position: relative;
        @include flex-setting(row, flex-start, center);
    }

    &__link {
        @include font-setting($main-font, 0.5625rem, 1.222, 500, $black);
        @include fluidFontSize(0.5625rem, 0.75rem, 20rem, 25.875rem, 0.5625rem);

        text-decoration: none;
    }

    &__symbol {
        margin-left: 0.25rem;
        font-style: normal;
        @include font-setting($main-font, 0.625rem, 1.1, 500, $black);
        @include fluidFontSize(0.625rem, 0.75rem, 20rem, 25.875rem, 0.625rem);
    }
}
