.breadcrumbs {
    width: 100%;

    @include flex-setting(column, center, center);

    padding: 0.8125rem 0.9375rem 0 0.9375rem;
    margin-bottom: 0.8125rem;

    &__list {
        width: 100%;
        @include flex-setting(row, flex-start, center);
    }

    &__item {
        width: auto;
        margin-right: 0.25rem;
        position: relative;
    }

    &__link {
        @include font-setting($main-font, 0.5625rem, 0.6875rem, 500, $black);

        text-decoration: none;
    }

    &__symbol {
        font-style: normal;
        @include font-setting($main-font, 0.625rem, 0.6875rem, 500, $black);
    }
}
