// Colors
$white: #fff;
$black: #0F0D0D;
$lightblack: #161616;
$darkblack: #1a1a1a;
$darkgray: #414141;
$gray: #3B3838;
$orange: #FFB900;
$yellow: #FFCA3F;
$lightwhite: #E8DBD3;
$lightgray: #D9CDC6;
$thingray: #7D7977;
$darkwhite: #9C938E;
$pink: #DF2D77;
$darkpink: #E8488A;
$purple: #4E007F;
$sky: #53B6E4;
$blue: #45A7DD;
$thinpink: #E9DDD5;
// Sizes
$base-font-size: 16px;

$tablet: 720;
$large: 1152;
$desktop: 1920;

// Fonts
$main-font: 'Gotham Condensed';
