.about {
    width: 100%;

    margin-bottom: 1.25rem;

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        padding: 1.25rem 0.9375rem 1.625rem 0.9375rem;

        background-color: $orange;
    }

    &__logo {
        display: none;
    }

    &__info {
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);
    }

    &__title {
        @include font-setting($main-font, 1.125rem, 1.222, 900, $black);
        @include fluidFontSize(1.125rem, 1.375rem, 20rem, 25.875rem, 1.125rem);
        text-align: left;
        margin-bottom: 0.9375rem;
    }

    &__description {
        @include font-setting($main-font, 0.75rem, 1.1666, 325, $black);
        @include fluidFontSize(0.75rem, 1rem, 20rem, 25.875rem, 0.75rem);
        text-align: left;

        margin-bottom: 0.875rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@include min-screen(768px) {
    .about {
        margin-bottom: 2.5rem;

        &__wrapper {
            width: 100%;

            flex-direction: row;
            justify-content: center;
            align-items: stretch;

            padding: 0 3.375rem;
            background-color: transparent;
        }

        &__logo {
            width: 35.454545%;
            @include flex-setting(column, center, center);
            background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(69,167,221,1) 50.2%, rgba(69,167,221,1) 60%, rgba(0,0,0,1) 60.2%, rgba(0,0,0,1) 70%, rgba(69,167,221,1) 70.2%, rgba(69,167,221,1) 80%, rgba(0,0,0,1) 80.2%, rgba(0,0,0,1) 90%, rgba(69,167,221,1) 90.2%, rgba(69,167,221,1) 100%);
            background-position: 50% 50%;

            &-img {
                width: 88.92px;
                height: 103px;
                object-fit: contain;
            }
        }

        &__info {
            width: 64.545454%;
            background-color: $orange;

            padding: 1.0625rem 1.125rem 1.25rem 1.25rem;
        }

        &__title {
            @include fluidFontSize(1.25rem, 2rem, 48rem, 85.3125rem, 1.25rem);
            margin-bottom: 0.5rem;
        }

        &__description {
            @include fluidFontSize(0.8125rem, 1.125rem, 48rem, 85.3125rem, 0.8125rem);
            line-height: 1.230769230769231;
            margin-bottom: 0.5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@include min-screen(1366px) {
    .about {
        margin-bottom: 3.75rem;

        &__wrapper {
            padding: 0 11.20058565153734%;
        }

        &__logo {
            width: 31.69811320754717%;

            &-img {
                width: 128.99px;
                height: 149.43px;
            }
        }

        &__info {
            width: 68.30188679245283%;

            padding: 2.25rem 1.625rem 2rem 1.625rem;
        }

        &__title {
            @include fluidFontSize(2rem, 2.5rem, 85.375rem, 104.9375rem, 2rem);
            line-height: 1.1875;
            margin-bottom: 1.25rem;
        }

        &__description {
            @include fluidFontSize(1.125rem, 1.375rem, 85.375rem, 104.9375rem, 0.8125rem);
            line-height: 1.222;
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@include min-screen(1680px) {
    .about {
        margin-bottom: 3.125rem;

        @include flex-setting(column, center, center);

        &__wrapper {
            padding: 0;
            max-width: 1440px;
        }

        &__logo {
            width: 31.66666%;

            &-img {
                width: 174.99px;
                height: 202.72px;
            }
        }

        &__info {
            width: 68.333333%;

            padding: 3rem 2.25rem 4rem 2.25rem;
        }

        &__title {
            font-size: 2.25rem;
            line-height: 1.2;
            margin-bottom: 2rem;
        }

        &__description {
            font-size: 1.375rem;
            line-height: 1.1818;
        }
    }
}
