.article {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    &__poster {
        padding-top: 56.25%;
        position: relative;
        width: 100%;
        height: 0;
        overflow: hidden;

        &-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &--empty {
            background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10.5%, rgba(69,167,221,1) 10%, rgba(69,167,221,1) 20.5%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 30.5%, rgba(69,167,221,1) 30%, rgba(69,167,221,1) 40.5%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 50.5%, rgba(69,167,221,1) 50%, rgba(69,167,221,1) 60.5%, rgba(0,0,0,1) 60%, rgba(0,0,0,1) 70.5%, rgba(69,167,221,1) 70%, rgba(69,167,221,1) 80.5%, rgba(0,0,0,1) 80%, rgba(0,0,0,1) 90%, rgba(69,167,221,1) 90.5%, rgba(69,167,221,1) 100%);
            background-position: top center;

            .article__poster-image {
                visibility: hidden;
            }
        }
    }

    &.old {
        .article__poster-image {
            object-fit: scale-down;
        }
    }

    @supports (aspect-ratio: 16 / 9) {
        .article__poster {
            padding-top: 0;
            height: 100%;

            &-image {
                position: relative;
                top: auto;
                left: auto;
                bottom: auto;
                right: auto;
                aspect-ratio: 16 / 9;
            }
        }
    }

    &__body {
        width: 100%;

        @include flex-setting(column, flex-start, center);
    }

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        padding-top: 0;

        position: relative;
    }

    &__intro {
        width: 100%;
        @include flex-setting(column, flex-start, center);

        background-color: $orange;

        padding: 0.5rem 1rem;
        margin-bottom: 0.625rem;

        .breadcrumbs {
            padding: 0;
            margin-bottom: 0.5rem;

            &__list {
                width: auto;
            }
        }
    }

    &__name {
        @include font-setting($main-font, 1.25rem, 1.2, 700, $black);
        @include fluidFontSize(1.25rem, 1.5rem, 20rem, 25.875rem, 1.25rem);
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    &__info {
        width: auto;

        @include flex-setting(row, center, center);

        &-views,
        &-date {
            @include font-setting($main-font, 0.6875rem, 1.181818, 325, $black);
            @include fluidFontSize(0.6875rem, 0.8125rem, 20rem, 25.875rem, 0.6875rem);
            position: relative;
        }

        &-views {
            padding-left: 1.0625rem;
            margin-right: 1.0625rem;

            &::before {
                position: absolute;
                content: '';

                width: 11.13px;
                height: 8.9px;

                background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.67759 0.225769C3.27026 0.225769 1.0995 1.89805 0.14742 4.48511C0.101251 4.60927 0.101251 4.74595 0.14742 4.87011C1.0995 7.46004 3.27026 9.12945 5.67759 9.12945C8.08493 9.12945 10.2557 7.46004 11.2078 4.87011C11.2539 4.74595 11.2539 4.60927 11.2078 4.48511C10.2557 1.89805 8.08493 0.225769 5.67759 0.225769ZM5.67759 8.01643C3.80003 8.01643 2.08785 6.71272 1.26592 4.67761C2.08785 2.6425 3.80003 1.33879 5.67759 1.33879C7.55516 1.33879 9.26734 2.6425 10.0893 4.67761C9.26734 6.71272 7.55516 8.01643 5.67759 8.01643Z' fill='%230F0D0D'/%3E%3Cpath d='M5.67769 2.45184C4.44833 2.45184 3.4519 3.44853 3.4519 4.67763C3.4519 5.90674 4.44859 6.90343 5.67769 6.90343C6.9068 6.90343 7.90348 5.90674 7.90348 4.67763C7.90348 3.44853 6.90706 2.45184 5.67769 2.45184ZM5.67769 5.79066C5.06314 5.79066 4.56467 5.29245 4.56467 4.67763C4.56467 4.06282 5.06288 3.56461 5.67769 3.56461C6.29251 3.56461 6.79072 4.06282 6.79072 4.67763C6.79072 5.29245 6.29224 5.79066 5.67769 5.79066Z' fill='%230F0D0D'/%3E%3C/svg%3E");
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                left: 0.0625rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &-date {
            padding-left: 0.875rem;

            &::before {
                position: absolute;
                content: '';

                width: 10.18px;
                height: 10.18px;
                background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.90351 1.27193H8.4796V0.42391C8.4796 0.189995 8.2896 0 8.05549 0H7.63158C7.39746 0 7.20767 0.189995 7.20767 0.42391V1.27193H2.96777V0.42391C2.96777 0.189995 2.77797 0 2.54386 0H2.11995C1.88583 0 1.69584 0.189995 1.69584 0.42391V1.27193H1.27193C0.57058 1.27193 0 1.84251 0 2.54386V8.90351C0 9.60486 0.57058 10.1754 1.27193 10.1754H8.90351C9.60486 10.1754 10.1754 9.60486 10.1754 8.90351V2.54386C10.1754 1.84251 9.60486 1.27193 8.90351 1.27193ZM9.32742 8.90351C9.32742 9.13703 9.13703 9.32742 8.90351 9.32742H1.27193C1.03841 9.32742 0.848019 9.13703 0.848019 8.90351V4.25679H9.32742V8.90351Z' fill='%230F0D0D'/%3E%3C/svg%3E");
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                left: 0;
                top: 45%;
                transform: translateY(-50%);
            }
        }
    }

    &__preview {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }

    &__start {
        @include font-setting($main-font, 1rem, 1.1875, 500, #000);
        @include fluidFontSize(1rem, 1.1875rem, 20rem, 25.875rem, 1rem);
        margin-bottom: 0.9375rem;
    }

    &__description {
        @include font-setting($main-font, 1rem, 1.1875, 400, #000);
        @include fluidFontSize(1rem, 1.1875rem, 20rem, 25.875rem, 1rem);
        margin-bottom: 1.25rem;

        a {
            text-decoration: underline;
            font-weight: 500;
        }
    }

    /* navigation */

    &__navigation {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);

        &-item {
            width: auto;
            @include flex-setting(column, center, center);
        }

        &-anchor,
        a {
            @include font-setting($main-font, 1rem, 1.875, 700, #000);
            @include fluidFontSize(1rem, 1.25rem, 20rem, 25.875rem, 1rem);
            text-decoration: none;
            text-align: left;
            transition: 0.2s ease-in;

            position: relative;
            overflow-x: hidden;

            &::after {
                position: absolute;
                content: '';

                width: 100%;
                height: 2px;

                background-color: $darkpink;
                bottom: 0;
                right: -100%;
                opacity: 0;
                transition: 0.2s ease-in;

            }

            &:hover,
            &:active {
                &::after {
                    opacity: 1;
                    right: 0;
                    transition: 0.2s ease-in;
                }
            }
        }
    }

    &__chapter {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        padding: 1.125rem 0.9375rem 0 0.9375rem;
        margin-bottom: 1.5625rem;

        ul {
            width: 100%;

            @include flex-setting(column, flex-start, flex-start);

            margin-bottom: 1.5rem;

            li {
                @include font-setting($main-font, 1rem, 1.1875, 325, $black);
                @include fluidFontSize(1rem, 1.1875rem, 20rem, 25.875rem, 1rem)

                margin-bottom: 0.25rem;

                position: relative;

                padding-left: 1.25rem;

                &::after {
                    position: absolute;
                    content: '';

                    width: 10px;
                    height: 1px;
                    background-color: $black;
                    left: 0;
                    top: 0.625rem;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .article__synopsis {
            .article__synopsis-item {
                padding-left: 0;

                &::after {
                    display: none;
                }
            }
        }

        .feed__item {
            padding-left: 0;

            &::after {
                display: none;
            }
        }

        .article__navigation-item {
            padding-left: 0;

            &::after {
                display: none;
            }
        }

        a {
            color: $black;
            text-decoration: none;

            &:hover {
                color: $pink;
                transition: 0.2s linear;
            }
        }

        .video__link {
            margin-bottom: 1.5rem;
        }

        .article__feed {
            padding-left: 0;
            padding-right: 0;
        }

        .feed__list--theme {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 1.375rem;
            margin-bottom: 0;
            border-bottom: none;

            .feed__item {
                margin-bottom: 1.125rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__title {
        @include font-setting($main-font, 1.25rem, 1.2, 700, $black);
        @include fluidFontSize(1.25rem, 1.5rem, 20rem, 25.875rem, 1.25rem);
        text-transform: uppercase;
        text-align: center;
        align-self: flex-start;
        margin-bottom: 0.9375rem;
    }

    &__frame {
        padding-top: 56.25%;
        position: relative;
        width: 100%;
        height: 0;
        overflow: hidden;
        margin-bottom: 0.9375rem;

        display: flex;

        &-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            width: 100%;
            height: 100%;
            object-fit: cover;
            transform-origin: center;
            transition: 0.3s ease-in;
        }
    }

    /* Синопсис */
    &__synopsis {
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);
        margin-bottom: 0.9375rem;
        margin-top: 0.9375rem;

        &-item {
            width: auto;
            @include flex-setting(column, flex-start, flex-start);
            margin-bottom: 0.625rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-name {
            @include font-setting($main-font, 0.8125rem, 1.2, 325, $thingray);
            @include fluidFontSize(0.8125rem, 1rem, 20rem, 25.875rem, 0.8125rem);
            margin-bottom: 0.125rem;
        }

        &-data {
            @include font-setting($main-font, 1rem, 1.16666rem, 325, $black);
            @include fluidFontSize(1rem, 1.25rem, 20rem, 25.875rem, 1.25 rem)
        }
    }

    &__subtitle {
        @include font-setting($main-font, 1.125rem, 1.1818, 700, #000);
        @include fluidFontSize(1.125rem, 1.375rem, 20rem, 25.875rem, 1.125rem)
        margin-bottom: 0.9375rem;
        text-align: left;
        align-self: flex-start;
    }

    i {
        font-style: normal;
    }

    &__trailer {
        padding-top: 56.25%;
        position: relative;
        width: 100%;
        height: 0;

        overflow: hidden;
    }

    &__video {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    @supports (aspect-ratio: 16 / 9) {
        .article__frame {
            height: 100%;
            padding-top: 0;

            &-image {
                position: relative;
                top: auto;
                left: auto;
                bottom: auto;
                right: auto;

                aspect-ratio: 16 / 9;
            }
        }

        .article__trailer {
            padding-top: 0;
            position: relative;
            height: 100%;
        }

        .article__video {
            position: relative;
            top: auto;
            left: auto;
            bottom: auto;
            right: auto;

            object-fit: cover;
            aspect-ratio: 16 / 9;
        }
    }
}

@include min-screen(768px) {
    .article {
        &__intro {
            padding: 1.0625rem 3.375rem 1.6875rem 3.375rem;
            margin-bottom: 2.5rem;

            .breadcrumbs {
                align-items: flex-start;
                margin-bottom: 0.8125rem;
            }
        }

        &__name {
            @include fluidFontSize(1.5rem, 2.25rem, 48rem, 85.3125rem, 1.5rem);
            line-height: 1.2083333333;
            margin-bottom: 0.625rem;
        }

        &__info {
            &-views,
            &-date {
                @include fluidFontSize(0.8125rem, 0.875rem, 48rem, 85.3125rem, 0.8125rem);
            }

            &-views {
                padding-left: 1.125rem;

                &::before {
                    width: 13.33px;
                    height: 11.33px;
                }
            }

            &-date {
                padding-left: 1.0625rem;

                &::before {
                    width: 13px;
                    height: 13px;
                    top: 45%;
                }
            }
        }

        &__preview {
            padding-left: 3.375rem;
            padding-right: 3.375rem;
        }

        &__start {
            @include fluidFontSize(1rem, 1.25rem, 48rem, 85.3125rem, 1rem);
            line-height: 1.222;
            margin-bottom: 1.5rem;
        }

        &__description {
            @include fluidFontSize(1rem, 1.25rem, 48rem, 85.3125rem, 1rem);
            line-height: 1.222;
            margin-bottom: 1.25rem;
        }

        /* navigation */

        &__navigation {
            margin-bottom: 1.25rem;

            &-anchor {
                font-size: 1.125rem;
                line-height: 2.5rem;
            }
        }

        &__chapter {
            padding: 1.25rem 3.375rem 0 3.375rem;
            margin-bottom: 1.875rem;

            ul {
                margin-bottom: 1.5rem;

                li {
                    @include fluidFontSize(0.875rem, 1.125rem, 48rem, 85.3125rem, 0.875rem);
                }
            }

            .article__feed {
                padding-left: 0;
                padding-right: 0;
            }

            .feed__list--theme {
                width: 100%;
                display: grid;

                align-items: start;
                grid-template-columns: 1fr 1fr;
                margin-bottom: 1.875rem;

                grid-column-gap: 1.25rem;
                grid-row-gap: 1.875rem;

                border-bottom: none;
                margin-bottom: 1.5rem;

                .feed__item {
                    margin-bottom: 0;
                }
            }
        }

        &__title {
            @include fluidFontSize(1.375rem, 1.625rem, 48rem, 85.3125rem, 1.375rem);
            margin-bottom: 1.25rem;
        }

        &__frame {
            margin-bottom: 1.25rem;
        }

        /* Синопсис */
        &__synopsis {
            margin-bottom: 1.25rem;

            &-item {
                width: 100%;
                max-width: 87.12%;
                flex-direction: row;
                justify-content: flex-start;
                align-items: stretch;
                border-bottom: 1px solid $orange;

                &:last-child {
                    border-bottom: none;
                }
            }

            &-name {
                width: 42.7826%;
                @include fluidFontSize(1rem, 1.125rem, 48rem, 85.3125rem, 1rem);
                line-height: 2.25;
                margin-bottom: 0;
            }

            &-data {
                width: 57.2174%;
                @include fluidFontSize(0.875rem, 1.125rem, 48rem, 85.3125rem, 0.875rem);
                line-height: 2.571428;
            }
        }

        &__subtitle {
            @include fluidFontSize(1.125rem, 1.375rem, 48rem, 85.3125rem, 1.125rem)
            line-height: 1.2222;
            margin-bottom: 1.25rem;
        }

        .share {
            display: none;
        }
    }
}

@include min-screen(1366px) {
    .article {
        &__body {
            padding-left: 11.20058565153734%;
            padding-right: 11.20058565153734%;

            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: nowrap;
        }

        &__wrapper {
            max-width: 66.0377358490566%;
        }

        &__aside {
            max-width: 23.58490566037736%;
        }

        &__poster {
            padding-top: 25.036603221083457%;
        }

        @supports (aspect-ratio: 16 / 4) {
            .article__poster {
                padding-top: 0;

                &-image {
                    aspect-ratio: 16 / 4;
                }
            }
        }


        &__intro {
            padding: 1rem 11.20058565153734% 1.875rem 11.20058565153734%;

            .breadcrumbs {
                margin-bottom: 1rem;
            }
        }

        &__name {
            font-size: 2.25rem;
            line-height: 1.19444444;
            margin-bottom: 0.5rem;
        }

        &__info {
            &-views,
            &-date {
                @include fluidFontSize(0.875rem, 1.125rem, 85.375rem, 104.9375rem, 0.875rem);
                line-height: 1.21428;
            }

            &-views {
                padding-left: 1.5625rem;

                &::before {
                    width: 17.5px;
                    height: 14px;
                }
            }

            &-date {
                padding-left: 1.375rem;

                &::before {
                    width: 17px;
                    height: 18px;
                }
            }
        }

        &__preview {
            padding-left: 0;
            padding-right: 0;
        }

        &__start {
            @include fluidFontSize(1.125rem, 1.375rem, 85.375rem, 104.9375rem, 1.125rem);
            line-height: 1.1666666;
            margin-bottom: 1.4375rem;
        }

        &__description {
            @include fluidFontSize(1.125rem, 1.375rem, 85.375rem, 104.9375rem, 1.125rem);
            line-height: 1.222;
            margin-bottom: 1.5rem;
        }

        /* navigation */

        &__navigation {
            margin-bottom: 1.125rem;

            &-anchor {
                @include fluidFontSize(1.125rem, 1.375rem, 85.375rem, 104.9375rem, 1.125rem);
            }
        }

        &__chapter {
            padding: 0;
            margin-bottom: 2.5rem;

            ul {
                margin-bottom: 1.75rem;

                li {
                    @include fluidFontSize(1.125rem, 1.375rem, 85.375rem, 104.9375rem, 1.125rem);
                }
            }

            .article__feed {
                padding-left: 0;
                padding-right: 0;
            }

            .feed__list--theme {
                border-bottom: none;
                margin-bottom: 1.5rem;
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-gap: 1.25rem;
                grid-row-gap: 1.5625rem;
            }
        }

        &__title {
            @include fluidFontSize(1.625rem, 2rem, 85.375rem, 104.9375rem, 1.625rem);
            line-height: 1.192307;
            text-align: left;
            align-self: flex-start;
        }

        &__frame {
            margin-bottom: 1.5rem;
        }

        /* Синопсис */
        &__synopsis {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;

            &-item {
                max-width: 82.85714285714286%;
            }

            &-name {
                width: 42.41379310344828%;
                @include fluidFontSize(1.125rem, 1.375rem, 85.375rem, 104.9375rem, 1.125rem);
                line-height: 2.222222;
            }

            &-data {
                width: 57.58620689655172%;
                @include fluidFontSize(1.125rem, 1.375rem, 85.375rem, 104.9375rem, 1.125rem);
                line-height: 2.222222;
            }
        }

        &__subtitle {
            font-size: 1.375rem;
            line-height: 1.1818;
        }

        .share {
            display: flex;
            margin-bottom: 3.125rem;
        }

        &__banner {
            margin: 0;
            width: 100%;

            &.line-banner {
                width: 520px;
                height: 64px;

                margin-bottom: 3rem;
            }
        }
    }
}

@include min-screen(1680px) {
    .article {
        &__body {
            max-width: 1440px;
            padding: 0;
        }

        &__wrapper {
            max-width: 65.97222222222222%;
        }

        &__aside {
            max-width: 23.125%;
        }

        &__intro {
            padding: 1.0625rem 2.8125rem 1.625rem 2.8125rem;

            .breadcrumbs {
                margin-bottom: 1rem;
            }
        }

        &__name {
            font-size: 2.25rem;
            margin-bottom: 0.625rem;
        }

        &__info {
            &-views,
            &-date {
                font-size: 1.125rem;
                line-height: 1.222;
            }

            &-views {
                padding-left: 2rem;

                &::before {
                    width: 20.98px;
                    height: 14px;
                }
            }

            &-date {
                padding-left: 1.625rem;

                &::before {
                    width: 19.16px;
                    height: 16px;
                    top: 48%;
                }
            }
        }

        &__start {
            font-size: 1.375rem;
            line-height: 1.136363;
            margin-bottom: 2.6875rem;
        }

        &__description {
            font-size: 1.375rem;
            line-height: 1.1818;
            margin-bottom: 2.6875rem;
        }

        /* navigation */

        &__navigation {
            margin-bottom: 1rem;

            &-anchor {
                font-size: 1.375rem;
                line-height: 2.5rem;
            }
        }

        &__chapter {
            padding: 0;

            .feed__list--theme {
                max-width: 1440px;
                grid-column-gap: 2.25rem;
                grid-row-gap: 2.5rem;
            }
        }

        ul {
            margin-bottom: 1.75rem;

            li {
                font-size: 1.375rem;
                line-height: 1.1818;
            }
        }

        &__title {
            font-size: 2rem;
            line-height: 1.1875;
            margin-bottom: 2.0625rem;
        }

        &__frame {
            margin-bottom: 2.5rem;
        }

        /* Синопсис */
        &__synopsis {
            margin-top: 1.75rem;
            margin-bottom: 1.75rem;

            &-item {
                width: 100%;
                max-width: 61.57112526539278%;
            }

            &-name {
                font-size: 1.375rem;
                line-height: 1.818181818181818;
            }

            &-data {
                font-size: 1.375rem;
                line-height: 1.818181818181818;
            }
        }

        &__subtitle {
            margin-bottom: 2.25rem;
        }

        .share {
            order: 5;
            margin-bottom: 2.5rem;
        }

        &__banner {
            order: 4;

            &.line-banner {
                width: 728px;
                height: 90px;

                margin-bottom: 2.5rem;
            }
        }
    }
}
