.aside {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    margin-bottom: 2.5rem;

    &__banner {
        margin-bottom: 0;
    }

    .share {
        display: none;
    }
}

@include min-screen(768px) {
    .aside {
        margin-bottom: 2.3125rem;

        &__banner {
            display: none;
        }

        .share {
            display: flex;

            &__wrapper {
                padding-top: 0;
                margin-bottom: 0;
            }
        }
    }
}


@include min-screen(1366px) {
    .aside {
        &__feed {
            padding: 0;
        }

        #fresh {
            order: 2;
        }

        &__banner {
            order: 3;
            display: flex;

            margin-bottom: 1.5625rem;

            &.quad-banner {
                width: 300px;
                height: 100%;

                justify-content: flex-start;
                align-items: center;
            }

            &.double {
                flex-direction: column;

                order: 1;

                .quad-banner__wrapper {
                    margin-bottom: 0.625rem;
                }
            }

            .quad-banner__wrapper {
                @include flex-setting(column, center, center);
                width: 300px;
                height: 250px;
            }
        }

        #popular {
            order: 4;
        }

        .share {
            display: none;
        }
    }
}

@include min-screen(1680px) {
    .aside {
        &__banner {
            margin-bottom: 2.5rem;
        }
    }
}
