.choose {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    padding: 1.5625rem 0 2rem 0;

    background-color: $black;

    &__upper {
        display: none;
    }
}

@include min-screen(768px) {
    .choose {
        padding-top: 0;

        &__upper {
            display: flex;
        }

        &__feed {
            padding-top: 1.875rem;
        }

        @supports not (aspect-ratio: 1 / 1) {
            .watch__info {
                padding-bottom: calc(1.6875rem - 0.71875rem);
                padding-right: 3rem;
            }

            .watch__tag {
                margin-left: 1rem;
                margin-right: 1rem;
                margin-bottom: 0.71875rem;
                margin-top: 0.71875rem;
            }
        }
    }
}


@include min-screen(1366px) {
    .choose {
        padding-bottom: 4.5rem;

        &__feed {
            padding-top: 1.375rem;
        }

        @supports not (aspect-ratio: 1 / 1) {
            .watch__info {
                padding-bottom: calc(2.25rem - 0.78125rem);
                padding-right: 10.5%;
            }

            .watch__tag {
                margin-left: 1.125rem;
                margin-right: 1.125rem;
                margin-bottom: 0.78125rem;
                margin-top: 0.78125rem;
            }
        }
    }
}

@include min-screen(1680px) {
    .choose {
        padding-bottom: 4.5rem;

        &__feed {
            padding-top: 1.75rem;
        }

        @supports not (aspect-ratio: 1 / 1) {
            .watch__info {
                padding-bottom: calc(2.8125rem - 0.65626rem);
                padding-right: 0;
            }

            .watch__cats {
                max-width: 1460px;
            }

            .watch__tag {
                margin-left: 1.375rem;
                margin-right: 1.375rem;
                margin-bottom: 0.65626rem;
                margin-top: 0.65626rem;
            }
        }
    }
}
