.choose {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    padding: 1.5625rem 0 2rem 0;

    background-color: $black;

    &__upper {
        display: none;
    }
}

@include min-screen(768px) {
    .choose {
        padding-top: 0;

        &__upper {
            display: flex;
        }

        &__feed {
            padding-top: 1.875rem;
        }
    }
}
