.date-carousel {
    width: 100%;

    margin-bottom: 1.25rem;

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        padding: 0 4rem;
    }

    &__slider {
        width: 100%;
        overflow-x: hidden;
    }

    &__item {
        @include flex-setting(column, center, center);

        width: 40px;
        height: 40px;

        &.active {
            .date-carousel__link {
                background-color: $purple;
                transition: 0.2s linear;
            }
        }
    }

    &__link {
        @include flex-setting(column, center, center);

        background-color: $blue;
        text-decoration: none;
        width: 40px;
        height: 40px;

        transition: 0.2s ease-in-out;

        &.weekend {
            background-color: $pink;
        }

        &:hover {
            background-color: $purple;
            transition: 0.2s ease-in-out;
        }
    }

    .swiper-slide {
        width: 40px !important;
        height: 40px !important;
    }

    &__day {
        @include font-setting($main-font, 1.125rem, 1, 700, $white);
        text-transform: uppercase;
    }

    &__date {
        @include font-setting($main-font, 0.875rem, 1rem, 700, $white);
    }

    &__prev,
    &__next {
        background-color: transparent;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        border: none;

        width: 16px;
        height: 16px;

        position: absolute;

        cursor: pointer;
        outline: none;

        z-index: 4;

        top: 50%;
        transform: translateY(-50%);
    }

    &__prev {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-3.49691e-07 7L12 0.0717978L12 13.9282L-3.49691e-07 7Z' fill='%230F0D0D'/%3E%3C/svg%3E");
        left: 1.625rem;
    }

    &__next {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 7L6.52532e-07 0.0717978L4.68497e-08 13.9282L12 7Z' fill='%230F0D0D'/%3E%3C/svg%3E%0A");
        right: 1.625rem;
    }

    &__banner {
        display: none;
    }
}

@include min-screen (375px) {
    .date-carousel {
        &__item {
            width: 64px;
            height: 64px;
        }

        &__link {
            width: 64px;
            height: 64px;
        }

        .swiper-slide {
            width: 64px !important;
            height: 64px !important;
        }

        &__day {
            @include font-setting($main-font, 1.125rem, 1, 700, $white);
            font-size: 1.375rem;
            text-transform: uppercase;
        }

        &__date {
            font-size: 1.125rem;
            line-height: 1.25rem;
        }
    }
}

@include min-screen(768px) {
    .date-carousel {
        margin-bottom: 2.8125rem;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 614px;

        &__wrapper {
            padding: 0 3.75rem;
            position: relative;
        }

        &__item {
            width: 65px;
            height: 65px;
        }

        &__link {
            width: 65px;
            height: 65px;
        }

        .swiper-slide {
            width: 65px !important;
            height: 65px !important;
        }

        &__day {
            font-size: 1.625rem;
        }

        &__date {
            font-size: 1.125rem;
        }

        &__prev,
        &__next {
            width: 18px;
            height: 18px;
        }

        &__prev {
            left: 0;
        }

        &__next {
            right: 0;
        }
    }
}

@include min-screen(1366px) {
    .date-carousel {
        margin-bottom: 3.25rem;
        max-width: 1060px;

        &__wrapper {
            padding: 0 5.625rem;
            margin-bottom: 2.0625rem;
        }

        &__item {
            width: 70px;
            height: 70px;
        }

        &__link {
            width: 70px;
            height: 70px;
        }

        .swiper-slide {
            width: 70px !important;
            height: 70px !important;
        }

        &__prev,
        &__next {
            width: 28px;
            height: 28px;
        }

        &__prev {
            left: 1.25rem;
        }

        &__next {
            right: 1.25rem;
        }

        &__banner {
            display: flex;

            &.quad-banner {
                @include flex-setting(row, space-between, center);
                width: 940px;
                height: 250px;
            }
        }
    }
}

@include min-screen(1680px) {
    .date-carousel {
        margin-bottom: 3.4375rem;
        max-width: 1440px;

        &__wrapper {
            padding: 0 7.625rem;
            margin-bottom: 2.5rem;
        }

        &__item {
            width: 87px;
            height: 87px;
        }

        &__link {
            width: 87px;
            height: 87px;
        }

        .swiper-slide {
            width: 87px !important;
            height: 87px !important;
        }

        &__prev,
        &__next {
            width: 34px;
            height: 34px;
        }

        &__prev {
            left: 1.75rem;
        }

        &__next {
            right: 1.75rem;
        }
    }
}
