.feed {
    width: 100%;

    padding: 0 0.9375rem;

    &--news {
        margin-bottom: 1.25rem;

        .feed__banner {
            &.quad-banner {
                display: none;
            }
        }
    }

    &--watch {
        padding-bottom: 2.125rem;
    }

    &--index {
        .feed__title {
            @include fluidFontSize(1rem, 1.25rem, 20rem, 25.875rem, 1rem);
            line-height: 1.1875;
            color: $lightwhite;
            margin-bottom: 1rem;
        }
    }

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, center);
    }

    &__title {
        @include font-setting($main-font, 1.125rem, 1.222, 700, $black);
        @include fluidFontSize(1.125rem, 1.375rem, 20rem, 25.875rem, 1.125rem);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1.25rem;

        &--purple {
            width: 100%;

            @include flex-setting(column, center, center);
            color: $lightwhite;

            @include fluidFontSize(0.875rem, 1.125rem, 20rem, 25.875rem, 0.875rem);
            line-height: 1.214285714285714;

            background-color: $purple;
            padding-top: 0.625rem;
            padding-bottom: 0.5625rem;

            margin-bottom: 0.875rem;
        }

        &--pink {
            width: 100%;

            @include flex-setting(column, center, center);
            color: $lightwhite;

            @include fluidFontSize(0.875rem, 1.125rem, 20rem, 25.875rem, 0.875rem);
            line-height: 1.214285714285714;

            background-color: $pink;
            padding-top: 0.625rem;
            padding-bottom: 0.5625rem;

            margin-bottom: 0.875rem;
        }

        &--blue {
            width: 100%;

            @include flex-setting(column, center, center);
            color: $lightwhite;

            @include fluidFontSize(0.875rem, 1.125rem, 20rem, 25.875rem, 0.875rem);
            line-height: 1.214285714285714;

            background-color: $blue;
            padding-top: 0.625rem;
            padding-bottom: 0.5625rem;

            margin-bottom: 0.875rem;
        }

        &--other {
            color: $lightwhite;

            @include fluidFontSize(0.875rem, 1.125rem, 20rem, 25.875rem, 0.875rem);
            line-height: 1.214285714285714;

            margin-bottom: 1.375rem;
        }
    }

    &__list {
        width: 100%;
        @include flex-setting(column, flex-start, center);
        margin-bottom: 2.125rem;

        gap: 2.125rem;

        &--news,
        &--watch {
            gap: 1.25rem;
        }

        &--theme,
        &--fresh,
        &--popular,
        &--other {
            gap: 1.125rem;
            margin-bottom: 0;
            padding-bottom: 1.375rem;
        }

        &--theme {
            border-bottom: 1px solid $thingray;
        }

        &--fresh {
            border-bottom: 1px solid $darkpink;
            margin-bottom: 1.5625rem;
        }

        &--popular {
            border-bottom: 1px solid $blue;
            margin-bottom: 1.5rem;
        }

        &--other {
            border-bottom: 1px solid $lightwhite;
        }
    }

    &__item {
        width: 100%;
    }

    &__more {
        @include flex-setting(column, center, center);
        @include font-setting($main-font, 1.125rem, 1.222, 700, $black);
        @include fluidFontSize(1.125rem, 1.375rem, 20rem, 25.875rem, 1.125rem);

        text-decoration: none;
        text-transform: uppercase;

        padding: 0.4375rem 5rem 0.4375rem 3.625rem;

        background-color: $pink;
        border: none;

        position: relative;
        transition: 0.2s ease-in-out;

        &::after {
            position: absolute;
            content: '';

            width: 17px;
            height: 17px;

            background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.9368 9.55836H0V7.44166H12.9368L10.9819 5.48672L12.4843 3.98428L17 8.50001L12.4843 13.0157L10.9819 11.5133L12.9368 9.55836Z' fill='%230F0D0D'/%3E%3C/svg%3E%0A");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            right: 3.625rem;
            top: 50%;
            transform: translate(0, -50%);
            transition: 0.2s ease-in-out;
        }

        &:hover,
        &:active {
            color: $white;
            background-color: $purple;
            transition: 0.2s ease-in-out;

            &::after {
                transform: translate(1rem, -50%);
                transition: 0.2s ease-in-out;
                background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.9368 9.55836H0V7.44166H12.9368L10.9819 5.48672L12.4843 3.98428L17 8.50001L12.4843 13.0157L10.9819 11.5133L12.9368 9.55836Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");

            }
        }

        &--pink {
            margin-bottom: 1.25rem;
        }

        &--blue {
            background-color: $blue;
            margin-bottom: 1.25rem;
        }

        &--down {
            &::after {
                background-image: url("data:image/svg+xml,%3Csvg width='11' height='17' viewBox='0 0 11 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.44167 12.9368L4.44167 -2.4365e-07L6.55837 -1.51127e-07L6.55837 12.9368L8.51331 10.9819L10.0157 12.4843L5.50002 17L0.9843 12.4843L2.48674 10.9819L4.44167 12.9368Z' fill='%230F0D0D'/%3E%3C/svg%3E");
            }
        }
    }

    &__top {
        @include flex-setting(column, center, center);
        @include font-setting($main-font, 1.125rem, 1.222, 700, $darkwhite);
        @include fluidFontSize(1.125rem, 1.375rem, 20rem, 25.875rem, 1.125rem);

        padding-right: 0.875rem;
        position: relative;

        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.2s ease-in;

        cursor: pointer;
        outline: none;

        &::after {
            position: absolute;
            content: '';

            width: 7px;
            height: 13px;

            background-image: url("data:image/svg+xml,%3Csvg width='7' height='13' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.30928 3.10718L4.30928 13L2.69063 13L2.69063 3.10718L1.19568 4.6021L0.0467525 3.45318L3.49995 8.0273e-07L6.95315 3.45318L5.80423 4.6021L4.30928 3.10718Z' fill='%239C938E'/%3E%3C/svg%3E%0A");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            top: 0.25rem;
            right: 0.25rem;
            transition: 0.2s ease-in;
        }

        &:hover,
        &:active {
            color: $black;
            transition: 0.2s ease-in;

            &::after {
                background-image: url("data:image/svg+xml,%3Csvg width='7' height='13' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.30928 3.10718L4.30928 13L2.69063 13L2.69063 3.10718L1.19568 4.6021L0.0467525 3.45318L3.49995 8.0273e-07L6.95315 3.45318L5.80423 4.6021L4.30928 3.10718Z' fill='%230F0D0D'/%3E%3C/svg%3E%0A");
                transition: 0.2s ease-in;
            }
        }
    }

    @supports not (gap: 2.125rem) {
        .feed__item {
            margin-bottom: 2.125rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @supports not (gap: 0.875rem) {
        .feed__item {
            margin-bottom: 0.875rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @supports not (gap: 1.25rem) {
        .feed__item {
            margin-bottom: 1.25rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@include min-screen(768px) {
    .feed {
        padding: 0 3.375rem;

        &--news {
            margin-bottom: 2.25rem;
        }

        &--watch {
            padding-top: 2.125rem;
            padding-bottom: 2.125rem;
        }

        &--index {
            .feed__wrapper {
                padding-bottom: 1.875rem;
            }
            .feed__title {
                @include fluidFontSize(1.375rem, 1.75rem, 48rem, 85.3125rem, 1.375rem);
                line-height: 1.1818;
                margin-bottom: 1.625rem;
            }
        }

        &__title {
            @include fluidFontSize(1.375rem, 1.75rem, 48rem, 85.3125rem, 1.375rem);
            margin-bottom: 1.25rem;

            &--purple,
            &--pink,
            &--blue {
                @include fluidFontSize(1rem, 1.125rem, 48rem, 85.3125rem, 1rem);
                line-height: 1.1875;

                padding-bottom: 0.6875rem;
                margin-bottom: 0.9375rem;
            }

            &--other {
                @include fluidFontSize(1.375rem, 1.75rem, 48rem, 85.3125rem, 1.375rem);
                line-height: 1.1818;

                margin-bottom: 1.75rem;
            }
        }

        &__list {
            width: 100%;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-bottom: 1.875rem;

            gap: 1.875rem 1.25rem;

            &--news,
            &--watch {
                gap: 2.5rem 1.25rem;
            }

            &--theme,
            &--fresh,
            &--popular,
            &--other {
                gap: 0;
                margin-bottom: 1.5625rem;
                padding-bottom: 0.9375rem;
                border: none;
                justify-content: space-between;

                .feed__item:last-child {
                    display: none;
                }
            }

            &--popular {
                margin-bottom: 0.375rem;
            }

            &--other {
                padding-bottom: 0;
                margin-bottom: 0;

                .feed__item {
                    margin-bottom: 1.25rem;
                }
            }

            &--watch {
                .feed__banner {
                    order: 3;
                }
            }
        }

        &__item {
            width: 48.4848%;
        }

        &__more {
            @include fluidFontSize(1.125rem, 1.375rem, 48rem, 85.33125rem, 1.125rem);
            line-height: 1.1666;
            padding: 0.375rem 3.25rem 0.3125rem 2.375rem;

            &::after {
                width: 13px;
                height: 13px;

                right: 2.125rem;
            }

            &--pink {
                margin-bottom: 2.25rem;
            }

            &--blue {
                margin-bottom: 2.25rem;
            }

            &--down {
                &::after {
                    width: 13px;
                    height: 13px;
                }
            }
        }

        &__top {
            @include fluidFontSize(1.125rem, 1.25rem, 48rem, 85.3125rem, 1.125rem);
        }

        &__banner {
            margin-bottom: 0;
        }

        @supports not (gap: 2.125rem) {
            .feed__item {
                margin-bottom: 2.125rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        @supports not (gap: 0.875rem) {
            .feed__item {
                margin-bottom: 0.875rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        @supports not (gap: 1.25rem) {
            .feed__item {
                margin-bottom: 1.25rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@include min-screen(1366px) {
    .feed {
        padding: 0 11.20058565153734%;

        &--news {
            margin-bottom: 2.25rem;

            .feed__title {
                margin-bottom: 1.25rem;
            }

            .feed__banner {
                &.quad-banner {
                    @include flex-setting(row, space-between, center);

                    margin-bottom: 2.25rem;

                    width: 940px;
                    height: 250px;
                }

                &.line-banner {
                    margin-bottom: 0.75rem;
                }
            }
        }

        &--theme {
            padding-left: 0;
        }

        &--watch {
            padding-top: 2.125rem;
            padding-bottom: 2.125rem;
        }

        &--index {
            .feed__wrapper {
                padding-bottom: 4.375rem;
            }

            .feed__title {
                @include fluidFontSize(1.75rem, 2.5rem, 85.375rem, 104.9375rem, 1.75rem);
                line-height: 1.21428;
                margin-bottom: 1.4375rem;
            }

            .feed__list {
                .feed__item:last-child {
                    display: none;
                }
            }
        }

        &__title {
            @include fluidFontSize(1.75rem, 2.5rem, 85.375rem, 104.9375rem, 1.75rem);
            line-height: 1.21428;
            margin-bottom: 1.25rem;

            &--purple,
            &--pink,
            &--blue {
                @include fluidFontSize(1.125rem, 1.5rem, 85.375rem, 104.9375rem, 1.125rem);
                line-height: 1.222;

                padding-bottom: 0.5rem;
                padding-top: 0.5rem;
            }

            &--pink,
            &--blue {
                margin-bottom: 1rem;
            }

            &--other {
                @include fluidFontSize(1.75rem, 2.5rem, 85.375rem, 104.9375rem, 1.75rem);
                line-height: 1.21428;

                margin-bottom: 1.5rem;
            }
        }

        &__list {
            justify-content: space-between;
            gap: 0rem 1.25rem;

            &--news,
            &--watch {
                gap: 1.5625rem 1.25rem;
                margin-bottom: 2.625rem;
            }

            &--theme,
            &--fresh,
            &--popular,
            &--other {
                gap: 0;
                margin-bottom: 1.5625rem;
                padding-bottom: 0.9375rem;

                .feed__item:last-child {
                    display: flex;
                }
            }

            &--fresh,
            &--popular {
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                .feed__item {
                    width: 100%;
                    margin-bottom: 1rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            &--fresh {
                margin-bottom: 1.5625rem;
            }

            &--popular {
                margin-bottom: 0;
            }

            &--other {
                gap: 1.875rem 0;
                padding-bottom: 0;
                margin-bottom: 0;

                .feed__item {
                    margin-bottom: 0;
                }
            }

            &--watch {
                .feed__banner {
                    order: 3;
                }
            }
        }

        &__item {
            width: 32.07547169811321%;
        }

        &__more {
            @include fluidFontSize(1.25rem, 1.5rem, 85.375rem, 104.9375rem, 1.25rem);
            padding: 0.4375rem 4.8125rem 0.3125rem 2.75rem;

            &::after {
                width: 19.3px;
                height: 19.3px;

                right: 2.75rem;
            }

            &--pink {
                padding: 0.625rem 4.1875rem 0.625rem 2.875rem;
                margin-bottom: 2rem;
            }

            &--blue {
                margin-bottom: 2.25rem;
                padding: 0.625rem 4rem 0.625rem 2.5625rem;
            }

            &--down {
                &::after {
                    width: 19.3px;
                    height: 19.3px;
                    right: 2.625rem;
                }
            }
        }

        &__top {
            @include fluidFontSize(1.125rem, 1.125rem, 48rem, 85.3125rem, 1.125rem);
        }

        &__banner {
            margin-bottom: 0;
        }
    }
}
