.feed {
    width: 100%;

    padding: 0 0.9375rem;

    padding-bottom: 2.125rem;

    background-color: $black;

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, center);
    }

    &__title {
        @include font-setting($main-font, 1rem, 1.1875rem, 700, $lightwhite);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    &__list {
        width: 100%;
        @include flex-setting(column, flex-start, center);
        margin-bottom: 2.125rem;
    }

    &__item {
        width: 100%;

        margin-bottom: 2.125rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__more {
        @include flex-setting(column, center, center);
        @include font-setting($main-font, 1.125rem, 1.375rem, 700, $black);

        text-decoration: none;
        text-transform: uppercase;

        padding: 0.4375rem 5rem 0.4375rem 3.625rem;

        background-color: $pink;

        position: relative;
        transition: 0.2s ease-in-out;

        &::after {
            position: absolute;
            content: '';

            width: 17px;
            height: 17px;

            background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.9368 9.55836H0V7.44166H12.9368L10.9819 5.48672L12.4843 3.98428L17 8.50001L12.4843 13.0157L10.9819 11.5133L12.9368 9.55836Z' fill='%230F0D0D'/%3E%3C/svg%3E%0A");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            right: 3.625rem;
            top: 50%;
            transform: translate(0, -50%);
            transition: 0.2s ease-in-out;
        }

        &:hover,
        &:active {
            color: $white;
            background-color: $purple;
            transition: 0.2s ease-in-out;

            &::after {
                transform: translate(1rem, -50%);
                transition: 0.2s ease-in-out;
                background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.9368 9.55836H0V7.44166H12.9368L10.9819 5.48672L12.4843 3.98428L17 8.50001L12.4843 13.0157L10.9819 11.5133L12.9368 9.55836Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");

            }
        }
    }
}
