.intro {
    width: 100%;
    margin-bottom: 1.25rem;

    background-color: $black;

    &__wrapper {
        width: 100%;
    }

    &__slide {
        width: 100%;

        @include flex-setting(column, flex-start, center);
    }

    &__frame {
        width: 100%;
        position: relative;

        &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 16 / 9;
        }
    }

    @supports not (aspect-ratio: 16 / 9) {
        .intro__frame {
            padding-top: 56.25%;
            position: relative;
            width: 100%;
            height: 0;

            &-image {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                width: 100%;
                height: 100%;
            }
        }
    }

    &__details {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        padding: 0.625rem 0.9375rem 0.875rem 0.9375rem;
    }

    &__link {
        text-decoration: none;
        display: inline-flex;

        margin-bottom: 0.1875rem;
    }

    &__title {
        @include font-setting($main-font, 1.125rem, 1.25rem, 950, $lightwhite);
        text-transform: uppercase;
        text-align: left;
    }

    &__description {
        @include font-setting($main-font, 0.75rem, 0.875rem, 325, $lightwhite);
        text-align: left;
    }

    &__btn {
        display: none;
    }

    &__prev,
    &__next {
        background-color: transparent;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        border: none;

        width: 16px;
        height: 16px;

        position: absolute;

        cursor: pointer;
        outline: none;

        z-index: 4;

        top: 35%;
        transform: translateY(-50%);
    }

    &__prev {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-3.49691e-07 7L12 0.0717978L12 13.9282L-3.49691e-07 7Z' fill='%23E8DBD3'/%3E%3C/svg%3E");
        left: 1rem;
    }

    &__next {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 7L6.52532e-07 0.0717978L4.68497e-08 13.9282L12 7Z' fill='%23E8DBD3'/%3E%3C/svg%3E%0A");
        right: 1rem;
    }

    .swiper-pagination {
        bottom: auto;
    }

    .swiper-pagination-bullets {
        position: absolute;

        top: 50%;
        bottom: auto !important;
    }

    .swiper-pagination-bullet {
        width: 6.75px;
        height: 6.75px;

        position: relative;

        margin-right: 8.44px;

        background-color: $lightwhite;
        opacity: 0.6;

        &:last-child {
            margin-right: 0;
        }
    }

    .swiper-pagination-bullet-active {
        &::after {
            position: absolute;
            content: '';

            width: 11.26px;
            height: 11.26px;

            background-color: transparent;
            border: 1px solid $lightwhite;

            border-radius: 5.63px;

            top: -2px;
            left: -2px;
        }
    }


}
