.program {
    width: 100%;

    padding-bottom: 1.6875rem;

    &__wrapper {
        width: 100%;
        @include flex-setting(column, flex-start, center);
    }

    &__title {
        @include font-setting($main-font, 1.125rem, 1.222, 700, $black);
        @include fluidFontSize(1.125rem, 1.375rem, 20rem, 25.875rem, 1.125rem);
        text-align: center;
        text-transform: uppercase;

        margin-bottom: 1.25rem;
    }

    &__before {
        @include flex-setting(column, center, center);
        @include font-setting($main-font, 1.125rem, 1.222, 700, $thinpink);
        @include fluidFontSize(1.125rem, 1.375rem, 20rem, 25.875rem, 1.125rem);
        text-transform: uppercase;
        text-align: center;

        position: relative;

        padding: 0.4375rem 2.625rem 0.4375rem 4rem;
        background-color: $purple;
        border: none;
        cursor: pointer;
        outline: none;

        margin-bottom: 1.25rem;

        &::before {
            position: absolute;
            content: '';

            width: 17px;
            height: 11px;

            background-image: url("data:image/svg+xml,%3Csvg width='17' height='11' viewBox='0 0 17 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.06323 4.44167L17 4.44167L17 6.55837L4.06323 6.55837L6.01813 8.51331L4.51569 10.0157L3.94777e-07 5.50002L4.51569 0.9843L6.01813 2.48674L4.06323 4.44167Z' fill='%23E9DDD5'/%3E%3C/svg%3E");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            left: 2.625rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__list {
        width: 100%;

        padding-left: 3.4375rem;
        padding-right: 3.4375rem;

        @include flex-setting(column, flex-start, center);
        overflow-x: hidden;

        margin-bottom: 1.75rem;
    }

    &__item {
        width: 100%;

        @include flex-setting(column, center, center);
        padding-bottom: 1.625rem;
        margin-bottom: 1.625rem;

        position: relative;

        &::after {
            position: absolute;
            content: '';

            width: 200vw;
            height: 1px;

            background-color: $darkwhite;

            bottom: 0;
            left: -50vw;
        }

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;

            &::after {
                display: none;
            }
        }
    }

    &__link {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);

        text-decoration: none;
    }

    &__time {
        @include flex-setting(column, center, center);
        @include font-setting($main-font, 1.375rem, 1.1818, 700, $black);
        @include fluidFontSize(1.375rem, 1.625rem, 20rem, 25.875rem, 1.375rem);

        text-transform: uppercase;

        width: 100%;
        background-color: $orange;

        padding-top: 0.375rem;
        padding-bottom: 0.375rem;
        padding-left: 1.375rem;

        margin-bottom: 0.75rem;

        position: relative;

        &::before {
            position: absolute;
            content: '';

            width: 18px;
            height: 18px;

            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0C4.02912 0 0 4.02912 0 9C0 13.9705 4.02912 18 9 18C13.9705 18 18 13.9705 18 9C18 4.02912 13.9705 0 9 0ZM9 15.7158C5.29668 15.7158 2.28386 12.7033 2.28386 9C2.28386 5.29668 5.29668 2.28421 9 2.28421C12.7033 2.28421 15.7161 5.29703 15.7161 9C15.7161 12.7033 12.7033 15.7158 9 15.7158Z' fill='%230F0D0D'/%3E%3Cpath d='M10.0799 4.14001H7.91992V10.08H12.4199V7.92001H10.0799V4.14001Z' fill='%230F0D0D'/%3E%3C/svg%3E");

            top: 50%;
            left: 28%;
            transform: translateY(-50%);
        }
    }

    &__preview {
        width: 100%;
        height: 100%;

        @include flex-setting(column, center, center);

        position: relative;
        margin-bottom: 0.75rem;
    }

    &__mark {
        position: absolute;
        left: 0;
        bottom: 1.25rem;

        z-index: 2;

        .program__sticker {
            display: none;
        }

        &.now {
            .program__sticker--now {
                display: flex;
            }
        }

        &.next {
            .program__sticker--next {
                display: flex;
            }
        }
    }

    &__sticker {
        @include flex-setting(column, center, center);
        @include font-setting($main-font, 0.875rem, 1.214285714285714, 700, $sky);
        @include fluidFontSize(0.875rem, 1rem, 20rem, 25.875rem, 0.875rem);

        height: 20px;
        padding: 0 0.5rem 0.125rem 1.25rem;

        background-color: $thinpink;
        position: relative;

        &--now {
            &::after {
                position: absolute;
                content: '';

                width: 9px;
                height: 9px;
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 7L6.52532e-07 0.0717978L4.68497e-08 13.9282L12 7Z' fill='%2353B6E4'/%3E%3C/svg%3E%0A");
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;

                left: 0.25rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &--next {
            &::after {
                position: absolute;
                content: '';

                width: 14px;
                height: 10px;

                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.54834 4.67744L2.77415 8.58853L2.77415 0.766362L9.54834 4.67744Z' fill='%2353B6E4'/%3E%3Cpath d='M13.4193 4.67744L6.64512 8.58853L6.64512 0.766362L13.4193 4.67744Z' fill='%2353B6E4'/%3E%3C/svg%3E");

                left: 0.25rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &__frame {
        width: 100%;

        position: relative;

        &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1 / 1;
        }
    }

    @supports not (aspect-ratio: 1 / 1) {
        .program__frame {
            padding-top: 100%;
            position: relative;
            width: 100%;
            height: 0;

            &-image {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                width: 100%;
                height: 100%;
            }
        }
    }

    &__info {
        width: 100%;

        @include flex-setting(column, flex-start, flex-start);
    }

    &__name {
        @include font-setting($main-font, 1rem, 1.1875, 700, $black);
        @include fluidFontSize(1rem, 1.25rem, 20rem, 25.875rem, 1rem);
        margin-bottom: 0.125rem;
    }

    &__chapter {
        @include font-setting($main-font, 0.875rem, 1.214285714285714, 325, $darkwhite);
        @include fluidFontSize(0.875rem, 1.0625rem, 20rem, 25.875rem, 0.875rem);
        margin-bottom: 0.4375rem;
    }

    &__description {
        @include font-setting($main-font, 0.75rem, 1.16666, 325, $black);
        @include fluidFontSize(0.75rem, 0.9375rem, 20rem, 25.875rem, 0.75rem);
        text-align: left;
    }

    &__banner {
        @include flex-setting(column, center, center);
        width: 300px;
        height: 50px;
        background-color: $pink;

        &-wrapper {
            width: 100%;
            height: 100%;
            @include flex-setting(column, center, center);

            &:last-child {
                display: none;
            }
        }
    }

    &__disclaimer {
        margin-top: 1.6875rem;
        margin-bottom: 1.6875rem;

        @include font-setting($main-font, 1rem, 1.1875, 700, $black);
        @include fluidFontSize(1rem, 1.25rem, 20rem, 25.875rem, 1rem);
        text-align: center;
        text-transform: uppercase;

        max-width: 65.625%;

        a {
            text-decoration: none;
        }

        &-time {
            color: $pink;
        }
    }

    &__top {
        @include flex-setting(column, center, center);
        @include font-setting($main-font, 1.125rem, 1.222, 700, $darkwhite);
        @include fluidFontSize(1.125rem, 1.375rem, 20rem, 25.875rem, 1.125rem);

        padding-right: 0.875rem;
        position: relative;

        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.2s ease-in;

        cursor: pointer;
        outline: none;

        &::after {
            position: absolute;
            content: '';

            width: 7px;
            height: 13px;

            background-image: url("data:image/svg+xml,%3Csvg width='7' height='13' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.30928 3.10718L4.30928 13L2.69063 13L2.69063 3.10718L1.19568 4.6021L0.0467525 3.45318L3.49995 8.0273e-07L6.95315 3.45318L5.80423 4.6021L4.30928 3.10718Z' fill='%239C938E'/%3E%3C/svg%3E%0A");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            top: 0.25rem;
            right: 0.25rem;
            transition: 0.2s ease-in;
        }

        &:hover,
        &:active {
            color: $black;
            transition: 0.2s ease-in;

            &::after {
                background-image: url("data:image/svg+xml,%3Csvg width='7' height='13' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.30928 3.10718L4.30928 13L2.69063 13L2.69063 3.10718L1.19568 4.6021L0.0467525 3.45318L3.49995 8.0273e-07L6.95315 3.45318L5.80423 4.6021L4.30928 3.10718Z' fill='%230F0D0D'/%3E%3C/svg%3E%0A");
                transition: 0.2s ease-in;
            }
        }
    }
}

@include min-screen(768px) {
    .program {
        padding-bottom: 2.625rem;

        &__wrapper {
            position: relative;

            padding-left: 3.375rem;
            padding-right: 3.375rem;
        }

        &__title {
            @include fluidFontSize(1.375rem, 2.125rem, 48rem, 85.3125rem, 1.375rem);
            line-height: 1.1818;
            margin-bottom: 2.375rem;
        }

        &__before {
            @include fluidFontSize(0.875rem, 1.125rem, 48rem, 85.3125rem, 0.875rem);
            line-height: 1.214285714285714;
            position: absolute;
            right: 3.375rem;
            top: 0;

            padding: 0.3125rem 1.5rem 0.375rem 2.0625rem;
            margin-bottom: 0;

            &::before {
                width: 13px;
                height: 8.5px;

                left: 1.3125rem;
            }
        }

        &__list {
            width: 100%;

            padding-left: 5.25rem;
            padding-right: 5.25rem;

            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            overflow-x: visible;

            margin-bottom: 2.625rem;
        }

        &__item {
            width: 47.97%;

            padding-bottom: 0;
            margin-bottom: 0.625rem;

            &:nth-child(odd) {
                margin-right: 1.25rem;
            }

            &::after {
                display: none;
            }
        }

        &__time {
            width: 100%;
            @include fluidFontSize(1.5rem, 1.625rem, 48rem, 85.3125rem, 1.5rem);

            padding-top: 0.5rem;
            padding-bottom: 0.4375rem;
            padding-left: 5.1875rem;
            padding-right: 4.875rem;

            margin-bottom: 0.625rem;

            white-space: nowrap;

            &::before {
                width: 23px;
                height: 23px;

                left: 3.3125rem;
            }
        }

        &__preview {
            margin-bottom: 0.375rem;
        }

        &__mark {
            bottom: 1rem;
        }

        &__sticker {
            @include fluidFontSize(1rem, 1rem, 48rem, 85.3125rem, 1rem);
            line-height: 1.1875;
            height: 23px;
            padding: 0 0.625rem 0.125rem 1.25rem;

            &--now {
                &::after {
                    width: 11px;
                    height: 11px;
                    left: 0.3125rem;
                }
            }

            &--next {
                &::after {
                    width: 11px;
                    height: 11px;

                    left: 0.5rem;
                }
            }
        }

        &__name {
            @include fluidFontSize(1.125rem, 1.75rem, 48rem, 85.3125rem, 1.125rem);
            line-height: 1.222;
            margin-bottom: 0.125rem;
        }

        &__chapter {
            @include fluidFontSize(0.875rem, 1.25rem, 48rem, 85.3125rem, 0.875rem);
            margin-bottom: 0.3125rem;
        }

        &__description {
            @include fluidFontSize(0.875rem, 1.125rem, 48rem, 85.3125rem, 0.875rem);
            line-height: 1.21429;
        }

        &__banner {
            display: none;
        }

        &__disclaimer {
            margin-bottom: 1.25rem;

            @include fluidFontSize(1.125rem, 1.25rem, 48rem, 85.3125rem, 1.125rem);
            line-height: 1.222;
        }

        &__top {
            @include fluidFontSize(1.125rem, 1.375rem, 48rem, 85.3125rem, 1.125rem);
        }
    }
}

@include min-screen(1366px) {
    .program {
        padding-bottom: 1.875rem;

        &__wrapper {
            padding-left: 11.20058565153734%;
            padding-right: 11.20058565153734%;
        }

        &__title {
            align-self: flex-start;
            @include fluidFontSize(2.125rem, 2.5rem, 85.375rem, 104.9375rem, 2.125rem);
            line-height: 1.20588;
            margin-bottom: 2.625rem;
            padding-left: 11.25rem;
        }

        &__before {
            @include fluidFontSize(1.125rem, 1.5rem, 85.375rem, 104.9375rem, 1.125rem);
            line-height: 1.222;
            right: auto;
            left: 11.20058565153734%;
            padding: 0.5rem 1.75rem 0.5rem 3rem;

            &::before {
                width: 17.08px;
                height: 19.76px;
                left: 1.75rem;
            }
        }

        &__list {
            width: 100%;

            padding-left: 0;
            padding-right: 0;

            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            overflow-x: visible;

            margin-bottom: 2.625rem;
        }

        &__item {
            width: 47.97%;

            padding-bottom: 0;
            margin-bottom: 0.625rem;

            &:nth-child(odd) {
                margin-right: 1.25rem;
            }

            &::after {
                display: none;
            }
        }

        &__time {
            width: 100%;
            @include fluidFontSize(1.5rem, 1.625rem, 48rem, 85.3125rem, 1.5rem);

            padding-top: 0.5rem;
            padding-bottom: 0.4375rem;
            padding-left: 5.1875rem;
            padding-right: 4.875rem;

            margin-bottom: 0.625rem;

            white-space: nowrap;

            &::before {
                width: 23px;
                height: 23px;

                left: 3.3125rem;
            }
        }

        &__preview {
            margin-bottom: 0.375rem;
        }

        &__mark {
            bottom: 1rem;
        }

        &__sticker {
            @include fluidFontSize(1rem, 1rem, 48rem, 85.3125rem, 1rem);
            line-height: 1.1875;
            height: 23px;
            padding: 0 0.625rem 0.125rem 1.25rem;

            &--now {
                &::after {
                    width: 11px;
                    height: 11px;
                    left: 0.3125rem;
                }
            }

            &--next {
                &::after {
                    width: 11px;
                    height: 11px;

                    left: 0.5rem;
                }
            }
        }

        &__name {
            @include fluidFontSize(1.125rem, 1.75rem, 48rem, 85.3125rem, 1.125rem);
            line-height: 1.222;
            margin-bottom: 0.125rem;
        }

        &__chapter {
            @include fluidFontSize(0.875rem, 1.25rem, 48rem, 85.3125rem, 0.875rem);
            margin-bottom: 0.3125rem;
        }

        &__description {
            @include fluidFontSize(0.875rem, 1.125rem, 48rem, 85.3125rem, 0.875rem);
            line-height: 1.21429;
        }

        &__banner {
            display: none;
        }

        &__disclaimer {
            margin-bottom: 1.25rem;

            @include fluidFontSize(1.125rem, 1.25rem, 48rem, 85.3125rem, 1.125rem);
            line-height: 1.222;
        }

        &__top {
            @include fluidFontSize(1.125rem, 1.375rem, 48rem, 85.3125rem, 1.125rem);
        }
    }
}
