.series {
    width: 100%;
    @include flex-setting(column, flex-start, center);
    background-color: $lightblack;

    &__wrapper {
        width: 100%;
        @include flex-setting(column, flex-start, center);
        padding: 0 0.9375rem 1.25rem;
        margin-bottom: 0.9375rem;
    }

    &__title {
        @include font-setting($main-font, 1.125rem, 1.222, 700, $lightwhite);
        @include fluidFontSize(1.125rem, 1.375rem, 20rem, 25.875rem, 1.125rem);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1.25rem;
    }

    &__list {
        width: 100%;
        @include flex-setting(column, flex-start, center);
    }

    &__item {
        width: 100%;
        @include flex-setting(column, center, center);
        margin-bottom: 1.25rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);
        text-decoration: none;
        cursor: pointer;

        &:hover {
            .series__frame {
                overflow: hidden;
            }

            .series__frame-image {
                transform: scale(1.2);
                transform-origin: center;
                transition: 0.3s ease-in;
            }
        }
    }

    &__frame {
        padding-top: 56.25%;
        position: relative;
        width: 100%;
        height: 0;

        &-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    }
    @supports (aspect-ratio: 16 / 9) {
        .series__frame {
            width: 100%;
            position: relative;
            margin-bottom: 0.625rem;
            overflow: hidden;

            &-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 16 / 9;
                transform-origin: center;
                transition: 0.3s ease-in;
            }
        }
    }

    &__name {
        @include font-setting($main-font, 1.125rem, 1.222, 700, $lightwhite);
        @include fluidFontSize(1.125rem, 1.375rem, 20rem, 25.875rem, 1.125rem);
    }

    &__about {
        width: 100%;
        @include flex-setting(column, flex-start, center);
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        padding-bottom: 2rem;
    }

    &__subtitle {
        @include font-setting($main-font, 1.125rem, 1.222, 700, $lightwhite);
        @include fluidFontSize(1.125rem, 1.375rem, 20rem, 25.875rem, 1.125rem);
        text-transform: uppercase;
        margin-bottom: 0.9375rem;
    }

    &__description {
        @include font-setting($main-font, 0.875rem, 1.1818, 325, $lightwhite);
        @include fluidFontSize(0.875rem, 1.125rem, 20rem, 25.875rem, 0.875rem);
        text-align: left;
    }
}
@include min-screen(768px) {
    .series {
        &__wrapper {
            padding: 0 3.375rem;
            margin-bottom: 2.125rem;
        }

        &__title {
            @include fluidFontSize(1.375rem, 1.75rem, 48rem, 85.3125rem, 1.375rem);
            line-height: 1.1818;
            margin-bottom: 1.75rem;
        }

        &__list {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 1.5rem 1.25rem;
        }
        @supports not (gap: 1.5rem 1.25rem) {
            .series__item {
                margin-bottom: 1.5rem;
            }
        }

        &__item {
            width: 48.484848%;
        }

        &__banner {
            order: 3;
            margin-bottom: 0;
        }

        &__name {
            @include fluidFontSize(1.125rem, 1.375rem, 48rem, 85.3125rem, 1.125rem);
        }

        &__about {
            padding-left: 3.375rem;
            padding-right: 3.375rem;
            padding-bottom: 2.25rem;
        }

        &__subtitle {
            @include fluidFontSize(1.375rem, 1.75rem, 48rem, 85.3125rem, 1.375rem);
            line-height: 1.1818;
            margin-bottom: 0.75rem;
        }

        &__description {
            @include fluidFontSize(0.875rem, 1rem, 48rem, 85.3125rem, 0.875rem);
            line-height: 1.14286;
        }
    }
}
@include min-screen(1366px) {
    .series {
        &__wrapper {
            padding: 0 11.20058565153734%;
            margin-bottom: 2.75rem;
        }

        &__title {
            @include fluidFontSize(1.75rem, 2.5rem, 85.375rem, 104.9375rem, 1.75rem);
            line-height: 1.21429;
            margin-bottom: 2.25rem;
        }

        &__list {
            gap: 3.125rem 1.25rem;
        }
        @supports not (gap: 3.125rem 1.25rem) {
            .series__item {
                margin-bottom: 3.125rem;
            }
        }

        &__item {
            width: 32.07547169811321%;
        }

        &__banner {
            order: 4;
            margin-bottom: 0;
        }

        &__name {
            @include fluidFontSize(1.375rem, 1.875rem, 85.375rem, 104.9375rem, 1.375rem);
            line-height: 1.1818;
        }

        &__about {
            padding-left: 11.20058565153734%;
            padding-right: 11.20058565153734%;
            padding-bottom: 2.75rem;
        }

        &__subtitle {
            @include fluidFontSize(1.75rem, 2.5rem, 85.375rem, 104.9375rem, 1.75rem);
            line-height: 1.21429;
            margin-bottom: 0.75rem;
        }

        &__description {
            @include fluidFontSize(1.125rem, 1.375rem, 85.375rem, 104.9375rem, 1.125rem);
            line-height: 1.222;
        }
    }
}
