.share {
    width: 100%;

    @include flex-setting(column, center, center);

    &__wrapper {
        width: 100%;
        @include flex-setting(column, flex-start, center);

        padding-top: 0.9375rem;
        margin-bottom: 0.9375rem;
    }

    &__title {
        @include font-setting($main-font, 0.875rem, 1.214285714285714, 700, $thingray);
        @include fluidFontSize(0.875rem, 1.25rem, 20rem, 25.875rem, 0.875rem);
        text-align: center;
        text-transform: uppercase;

        margin-bottom: 0.5rem;
    }

    &__list {
        width: auto;
        @include flex-setting(row, center, center);
        gap: 1rem;
    }

    &__item {
        @include flex-setting(column, center, center);

        width: 42px;
        height: 42px;

        border-radius: 21px;
    }

    &__link {
        width: 100%;
        height: 100%;
        @include flex-setting(column, center, center);

        border-radius: 21px;

        background-color: $black;
        position: relative;

        text-decoration: none;

        cursor: pointer;
        outline: none;

        transition: 0.2s ease-in-out;

        .fa-facebook-f::before {
          position: absolute;
          content: '\f39e';
          @include fluidFontSize(1.375rem, 1.5rem, 20rem, 25.875rem, 1.375rem);
          color: $lightwhite;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 0.2s ease-in-out;
        }

        .fa-vk::before {
          position: absolute;
          content: '\f189';
          @include fluidFontSize(1.375rem, 1.5rem, 20rem, 25.875rem, 1.375rem);
          color: $lightwhite;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 0.2s ease-in-out;
        }

        .fa-odnoklassniki::before {
          position: absolute;
          content: '\f263';
          @include fluidFontSize(1.375rem, 1.5rem, 20rem, 25.875rem, 1.375rem);
          color: $lightwhite;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 0.2s ease-in-out;
        }

        &:hover,
        &:active {
            background-color: $orange;
            transition: 0.2s ease-in-out;

            .fa-odnoklassniki::before,
            .fa-vk::before,
            .fa-facebook-f::before {
                color: $black;
                transition: 0.2s ease-in-out;
            }
        }
    }
}

@include min-screen(768px) {
    .share {
        &__wrapper {
            padding-top: 0;
            margin-bottom: 0;
        }

        &__title {
            @include fluidFontSize(1.375rem, 1.5rem, 48rem, 85.3125rem, 1.375rem);
            line-height: 1.1818;
            margin-bottom: 0.8375rem;
        }
    }
}


@include min-screen(1366px) {
    .share {
        padding-right: 37.55490483162518%;

        &__title {
            @include fluidFontSize(1.5rem, 2.25rem, 85.375rem, 104.9375rem, 1.5rem);
            line-height: 1.208333333333333;
            margin-bottom: 0.9375rem;
        }

        &__item {
            width: 50px;
            height: 50px;
            border-radius: 25px;
        }

        &__link {
            border-radius: 25px;
        }
    }
}

@include min-screen(1680px) {
    .share {
        padding-right: 35%;

        &__title {
            font-size: 2.25rem;
            line-height: 1.194444;
            margin-bottom: 1rem;
        }
    }
}
