.show {
    width: 100%;

    @include flex-setting(column, flex-start, center);
    background-color: $lightwhite;

    &__header {
        width: 100%;

        background-color: $lightblack;

        @include flex-setting(column, flex-start, center);

        padding: 0.8125rem 0.9375rem 1.25rem 0.9375rem;
        margin-bottom: 1.25rem;

        position: relative;

        .breadcrumbs {
            padding: 0;
            margin-bottom: 0.875rem;
        }

        .breadcrumbs__link {
            color: $lightwhite;
        }

        .breadcrumbs__divider {
            color: $lightwhite;
        }


        &-banner {
            &.line-banner {
                background-color: red;
            }

            &.quad-banner {
                width: 100%;
                max-height: 100%;
                height: 100%;
                @include flex-setting(column, flex-start, center);
            }

            .quad-banner__wrapper {
                width: 300px;
                height: 250px;
                min-height: 250px;
                max-height: 250px;
                margin-bottom: 0.625rem;

                background-color: red;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__name {
        @include font-setting($main-font, 1.25rem, 1.2, 700, $lightwhite);
        @include fluidFontSize(1.25rem, 1.5rem, 20rem, 25.875rem, 1.25rem);

        text-transform: uppercase;
        text-align: center;

        margin-bottom: 0.8125rem;
    }

    &__body {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }

    &__frame {
        padding-top: 56.25%;
        position: relative;
        width: 100%;
        height: 0;
        overflow: hidden;
        margin-bottom: 1.25rem;

        &-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    &__trailer {
        padding-top: 56.25%;
        position: relative;
        width: 100%;
        height: 0;
        margin-bottom: 1.5625rem;
        margin-top: 0.3125rem;
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    @supports (aspect-ratio: 16 / 9) {
        .show__frame {
            padding-top: 0;
            height: 100%;

            &-image {
                position: relative;
                top: auto;
                left: auto;
                right: auto;
                bottom: auto;
                aspect-ratio: 16 / 9;
            }
        }

        .show__trailer {
            padding-top: 0;
            height: 100%;
        }

        .show__video {
            position: relative;
            top: auto;
            left: auto;
            right: auto;
            bottom: auto;
            aspect-ratio: 16 / 9;
        }
    }

    &__title {
        align-self: flex-start;

        @include font-setting($main-font, 1.125rem, 1.2, 700, $black);
        @include fluidFontSize(1.125rem, 1.375rem, 20rem, 25.875rem, 1.125rem);
        text-align: left;
        text-transform: uppercase;

        margin-bottom: 0.9375rem;
    }

    &__start {
        @include font-setting($main-font, 1rem, 1.1875, 500, $black);
        @include fluidFontSize(1rem, 1.1875rem, 20rem, 25.875rem, 1rem);

        text-align: left;
        margin-bottom: 1rem;
    }

    &__description {
        @include font-setting($main-font, 1rem, 1.1875, 400, #000);
        @include fluidFontSize(1rem, 1.1875rem, 20rem, 25.875rem, 1rem);
        margin-bottom: 0.9375rem;
    }

    &__banner {
        &.line-banner {
            display: none;
        }

        &.quad-banner {
            display: none;
        }
    }

    &__schedule {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        padding-bottom: 1.5625rem;

        &-title {
            @include flex-setting(column, center, center);
            @include font-setting($main-font, 1.125rem, 1.2222222222, 700, $lightwhite);
            @include fluidFontSize(1.125rem, 1.375rem, 20rem, 25.875rem, 1.125rem);
            text-transform: uppercase;

            width: 100%;

            margin-bottom: 0.9375rem;
            padding-top: 0.5rem;
            padding-bottom: 0.375rem;

            background-color: $purple;
        }

        &-list {
            width: 100%;

            @include flex-setting(column, flex-start, flex-start);
        }

        &-item {
            width: 100%;
            @include flex-setting(column, flex-start, flex-start);

            padding-bottom: 0.6875rem;
            margin-bottom: 0.625rem;

            border-bottom: 1px solid $darkwhite;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-time {
            @include font-setting($main-font, 1rem, 1.1875, 700, $black);
            @include fluidFontSize(1rem, 1.25rem, 20rem, 25.875rem, 1rem);
            text-transform: uppercase;
        }

        &-info {
            @include font-setting($main-font, 0.875rem, 1.214285714285714, 325, $darkwhite);
            @include fluidFontSize(0.875rem, 1.125rem, 20rem, 25.875rem, 0.875rem);
        }
    }

    &__feed {
        padding-top: 1.375rem;
        padding-bottom: 2.0625rem;

        background-color: $lightgray;

        .feed__more {
            margin-bottom: 0;
        }
    }
}

@include min-screen(768px) {
    .show {
        &__header {
            padding: 1.375rem 3.375rem 6rem 3.375rem;
            margin-bottom: 1.4375rem;

            .breadcrumbs {
                margin-bottom: 1.375rem;
            }

            &-banner {
                &.line-banner {
                    bottom: 1.25rem;

                    width: 530px;
                    height: 65px;
                }
            }
        }

        &__name {
            @include fluidFontSize(1.375rem, 1.75rem, 48rem, 85.3125rem, 1.375rem);
            margin-bottom: 0;
        }

        &__body {
            padding-left: 3.375rem;
            padding-right: 3.375rem;
        }

        &__frame {
            margin-bottom: 1.5rem;
        }

        &__title {
            @include fluidFontSize(1.375rem, 1.75rem, 48rem, 85.3125rem, 1.375rem);
            line-height: 1.1818;
        }

        &__start {
            @include fluidFontSize(1rem, 1.25rem, 48rem, 85.3125rem, 1rem);
            line-height: 1.21429;
            margin-bottom: 1.25rem;
        }

        &__description {
            @include fluidFontSize(1rem, 1.25rem, 48rem, 85.3125rem, 1rem);
            line-height: 1.21429;
            margin-bottom: 1.875rem;
        }

        &__trailer {
            margin-bottom: 1.875rem;
        }

        &__banner {
            &.quad-banner {
                @include flex-setting(row, space-between, flex-start);
                width: 620px;
                height: 250px;

                margin-bottom: 1.375rem;

                .quad-banner__wrapper {
                    width: 300px;
                    height: 250px;
                }
            }
        }

        &__schedule {
            padding-bottom: 3.125rem;

            &-title {
                @include fluidFontSize(1rem, 1.375rem, 48rem, 85.3125rem, 1rem);
                line-height: 1.1875;

                margin-bottom: 1.3125rem;
                padding-top: 0.625rem;
                padding-bottom: 0.625rem;
            }

            &-list {
                align-self: flex-start;
                width: 50%;
            }

            &-time {
                @include fluidFontSize(1rem, 1.5rem, 48rem, 85.3125rem, 1rem);
            }

            &-info {
                @include fluidFontSize(0.875rem, 1.375rem,  48rem, 85.3125rem, 0.875rem);
            }
        }

        &__feed {
            padding-top: 1.5rem;
            padding-bottom: 2.5625rem;
        }
    }
}

@include min-screen(1366px) {
    .show {
        padding-bottom: 3.5rem;

        &__header {
            padding: 2.25rem 11.20058565153734% 2.5rem 11.20058565153734%;
            margin-bottom: 1.4375rem;

            .breadcrumbs {
                margin-bottom: 0.4375rem;
            }

            &-banner {
                &.line-banner {
                    display: none;
                }

                &.quad-banner {
                    @include flex-setting(row, space-between, center);

                    width: 940px;
                    height: 250px;

                    margin-bottom: 0;
                }

                .quad-banner__wrapper {
                    margin-bottom: 0;
                }
            }
        }

        &__name {
            @include fluidFontSize(1.75rem, 2.5rem, 85.375rem, 104.9375rem, 1.75rem);
            line-height: 1.21428;
            margin-bottom: 1rem;
        }

        &__body {
            align-items: flex-start;
            padding-left: 11.20058565153734%;
            padding-right: 11.20058565153734%;
        }

        &__frame {
            align-self: flex-start;
            width: 66.0377358490566%;
            margin-bottom: 2.25rem;
        }

        &__title {
            @include fluidFontSize(1.75rem, 2.25rem, 85.375rem, 104.9375rem, 1.75rem);
            line-height: 1.21428;
            margin-bottom: 1.5625rem;
        }

        &__start {
            @include fluidFontSize(1.25rem, 1.375rem, 85.375rem, 104.9375rem, 1.25rem);
            line-height: 1.166666;
            margin-bottom: 1.6875rem;
            width: 66.0377358490566%;
        }

        &__description {
            @include fluidFontSize(1.25rem, 1.375rem, 85.375rem, 104.9375rem, 1.25rem);
            line-height: 1.222;
            width: 66.0377358490566%;
        }

        &__trailer {
            width: 66.0377358490566%;
            margin-bottom: 3.25rem;
        }

        &__banner {
            &.quad-banner {
                position: absolute;
                flex-direction: column;

                right: 11.20058565153734%;
                top: 0;

                width: 300px;
                height: 520px;

                margin-bottom: 0rem;

                .quad-banner__wrapper {
                    width: 300px;
                    height: 250px;
                }
            }

            &.line-banner {
                display: flex;
                margin: 0;
            }
        }

        &__schedule {
            width: 21.96193265007321%;
            position: absolute;
            padding: 0;

            top: 35rem;
            right: 11.20058565153734%;


            &-title {
                @include fluidFontSize(1.125rem, 1.5rem, 85.375rem, 104.9375rem, 1.125rem);
                line-height: 1.222;

                margin-bottom: 1.5rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
            }

            &-list {
                width: 100%;
            }

            &-item {
                padding-bottom: 1rem;
                margin-bottom: 1rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &-time {
                @include fluidFontSize(1.5rem, 1.625rem, 85.375rem, 104.9375rem, 1.5rem);
            }

            &-info {
                @include fluidFontSize(1.375rem, 1.5rem, 85.375rem, 104.9375rem, 1.375rem);
            }
        }

        &__feed {
            padding-top: 1.875rem;
            padding-bottom: 2.3125rem;
        }
    }
}

@include min-screen(1680px) {
    .show {
        padding-bottom: 2.5rem;

        &__header {
            padding: 2.125rem 0 0 0;
            margin-bottom: 2.5rem;

            .breadcrumbs {
                margin-bottom: 1.625rem;
            }

            &-banner {
                &.quad-banner {
                    margin-bottom: 2.5rem;
                }
            }
        }

        &__name {
            font-size: 2.5rem;
            line-height: 1.2;
            margin-bottom: 2.25rem;
        }

        &__body {
            max-width: 1440px;
            padding-left: 0;
            padding-right: 0;
        }

        &__frame {
            width: 65.76388888888889%;
            margin-bottom: 2.5rem;
        }

        &__title {
            font-size: 2.25rem;
            line-height: 1.194444444444444;
            margin-bottom: 1.875rem;
        }

        &__start {
            font-size: 1.375rem;
            line-height: 1.136363636363636;

            margin-bottom: 2.625rem;
            width: 65.76388888888889%;
        }

        &__description {
            font-size: 1.375rem;
            line-height: 1.1818;
            width: 65.76388888888889%;
        }

        &__trailer {
            width: 65.76388888888889%;
            margin-bottom: 2.5rem;
        }

        &__banner {
            &.quad-banner {
                right: 0;

                height: 530px;
            }

            &.line-banner {
                margin-left: 6.8125rem;
            }
        }

        &__schedule {
            width: 23.125%;
            top: 35.625rem;
            right: 0;


            &-title {
                font-size: 1.5rem;
                line-height: 1.208333;

                margin-bottom: 1.875rem;
                padding-top: 0.625rem;
                padding-bottom: 0.6875rem;
            }

            &-time {
                font-size: 1.625rem;
                line-height: 1.192307692307692;
            }

            &-info {
                font-size: 1.5rem;
                line-height: 1.208333;
            }
        }

        &__feed {
            padding-top: 1.75rem;
            padding-bottom: 3.125rem;
        }
    }
}
