.starring {
    width: 100%;

    background-color: $lightwhite;

    overflow-x: hidden;

    padding-top: 1rem;

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        padding: 0 0.9375rem 0 0.9375rem;
        background-color: $lightwhite;
        margin-bottom: 1.8125rem;
    }


    &__title {
        @include font-setting($main-font, 1rem, 1.1875, 700, $black);
        @include fluidFontSize(1rem, 1.375rem, 20rem, 25.875rem, 1rem);

        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0.8125rem;
    }

    &__slider {
        width: 100%;
    }

    &__item {
        width: 100%;
        @include flex-setting(column, center, center);

        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    &__frame {
        width: 100%;
        position: relative;

        margin-bottom: 0.4375rem;

        &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1 / 1;
        }
    }

    @supports not (aspect-ratio: 1 / 1) {
        .live__frame {
            padding-top: 100%;
            position: relative;
            width: 100%;
            height: 0;

            &-image {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                width: 100%;
                height: 100%;
            }
        }
    }

    &__name {
        @include font-setting($main-font, 1.125rem, 1.222222222222222, 700, $black);
        @include fluidFontSize(1.125rem, 1.25rem, 20rem, 25.875rem, 1.125rem);
        text-align: center;
        text-transform: uppercase;
    }

    &__prev,
    &__next {
        background-color: transparent;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;

        border: none;

        width: 16px;
        height: 16px;

        position: absolute;

        cursor: pointer;
        outline: none;

        z-index: 4;

        top: 40%;
        transform: translateY(-50%);
    }

    &__prev {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-3.49691e-07 7L12 0.0717978L12 13.9282L-3.49691e-07 7Z' fill='%230F0D0D'/%3E%3C/svg%3E");
        left: 0.9375rem;
    }

    &__next {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 7L6.52532e-07 0.0717978L4.68497e-08 13.9282L12 7Z' fill='%230F0D0D'/%3E%3C/svg%3E%0A");
        right: 0.9375rem;
    }

    &__top {
        @include flex-setting(column, center, center);
        @include font-setting($main-font, 1.125rem, 1.222222222222222222, 700, $darkwhite);
        @include fluidFontSize(1.125rem, 1.375rem, 20rem, 25.875rem, 1.125rem);

        padding-right: 0.875rem;
        position: relative;

        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.2s ease-in;

        cursor: pointer;
        outline: none;

        &::after {
            position: absolute;
            content: '';

            width: 7px;
            height: 13px;

            background-image: url("data:image/svg+xml,%3Csvg width='7' height='13' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.30928 3.10718L4.30928 13L2.69063 13L2.69063 3.10718L1.19568 4.6021L0.0467525 3.45318L3.49995 8.0273e-07L6.95315 3.45318L5.80423 4.6021L4.30928 3.10718Z' fill='%239C938E'/%3E%3C/svg%3E%0A");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;

            top: 0.25rem;
            right: 0.25rem;
            transition: 0.2s ease-in;
        }

        &:hover,
        &:active {
            color: $black;
            transition: 0.2s ease-in;

            &::after {
                background-image: url("data:image/svg+xml,%3Csvg width='7' height='13' viewBox='0 0 7 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.30928 3.10718L4.30928 13L2.69063 13L2.69063 3.10718L1.19568 4.6021L0.0467525 3.45318L3.49995 8.0273e-07L6.95315 3.45318L5.80423 4.6021L4.30928 3.10718Z' fill='%230F0D0D'/%3E%3C/svg%3E%0A");
                transition: 0.2s ease-in;
            }
        }
    }
}

@include min-screen(768px) {
    .starring {
        padding: 2rem 5rem 0 5rem;

        &__wrapper {
            padding: 0 3.625rem;
            margin-bottom: 3.125rem;
        }

        &__title {
            @include fluidFontSize(1.375rem, 1.75rem, 48rem, 85.3125rem, 1.375rem);
            line-height: 1.1818;
            margin-bottom: 1.375rem;
        }

        &__slider {
            position: relative;
            margin-bottom: 2rem;
        }


        &__item {
            padding-left: 0;
            padding-right: 0;
        }

        &__frame {
            margin-bottom: 0.5rem;
        }

        &__name {
            font-size: 1rem;
            line-height: 1.1875rem;
        }

        &__prev,
        &__next {
            width: 18px;
            height: 18px;

            top: 40%;
            transform: translateY(-50%);
        }

        &__prev {
            left: -2.5rem;
        }

        &__next {
            right: -2.5rem;
        }

        &__top {
            @include fluidFontSize(1.125rem, 1.125rem, 48rem, 85.3125rem, 1.125rem);
        }
    }
}
