.tags {
    width: 100%;

    background-color: $lightgray;

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        padding: 1.25rem 0.9375rem 1.5625rem 0.9375rem;
    }

    &__title {
        @include font-setting($main-font, 1.125rem, 1.375rem, 700, $black);
        text-align: center;
        text-transform: uppercase;

        margin-bottom: 1.25rem;
    }

    &__list {
        width: 100%;

        @include flex-setting(row, flex-start, center);

        flex-wrap: wrap;

        gap: 0.875rem 1.625rem;
    }

    @supports not (gap: 0.875rem 1.625rem) {
        .tags__wrapper {
            padding-bottom: 0.5625rem;
        }
        
        .tags__list {
            &__item {
                margin-right: 1.652rem;
                margin-bottom: 0.875rem;
            }
        }
    }

    &__item {
        width: auto;
        @include flex-setting(column, center, center);
    }

    &__link {
        @include font-setting($main-font, 1rem, 1.1875rem, 700, $black);
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.2s ease-in;

        &:hover,
        &:active {
            color: $pink;
            transition: 0.2s ease-in;
        }
    }
}
