.tags {
    width: 100%;

    background-color: $lightgray;

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        padding: 1.25rem 0.9375rem 1.5625rem 0.9375rem;
    }

    &__title {
        @include font-setting($main-font, 1.25rem, 1.2, 700, $black);
        @include fluidFontSize(1.25rem, 1.5rem, 20rem, 25.875rem, 1.25rem);
        text-align: center;
        text-transform: uppercase;

        margin-bottom: 1.25rem;
    }

    &__list {
        width: 100%;

        @include flex-setting(row, center, center);

        flex-wrap: wrap;

        gap: 0.875rem 1.625rem;
    }

    &__item {
        width: auto;
        @include flex-setting(column, center, center);
    }

    @supports not (aspect-ratio: 1 / 1) {
        .tags__wrapper {
            padding-bottom: 1.125rem;
            padding-right: 0.75rem;
        }

        .tags__item {
            margin-left: 0.8125rem;
            margin-right: 0.8125rem;
            margin-top: 0.4375rem;
            margin-bottom: 0.4375rem;
        }
    }

    &__link {
        @include font-setting($main-font, 1rem, 1.1875, 700, $black);
        @include fluidFontSize(1rem, 1.1875rem, 20rem, 25.875rem, 1rem);
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.2s ease-in;

        &:hover,
        &:active {
            color: $pink;
            transition: 0.2s ease-in;
        }
    }
}

@include min-screen(768px) {
    .tags {
        &__wrapper {
            padding: 1.25rem 3.375rem 1.875rem 3.375rem;
        }

        &__title {
            @include fluidFontSize(1.375rem, 1.75rem, 48rem, 85.3125rem, 1.375rem);
            line-height: 1.181818;
            margin-bottom: 1.875rem;
        }

        &__list {
            justify-content: center;
            gap: 1.375rem 2rem
        }

        @supports not (aspect-ratio: 1 / 1) {
            .tags__wrapper {
                padding-bottom: 1.1875rem;
                padding-right: 3rem;
            }

            .tags__item {
                margin-left: 1rem;
                margin-right: 1rem;
                margin-top: 0.6875rem;
                margin-bottom: 0.6875rem;
            }
        }

        &__link {
            @include fluidFontSize(1rem, 1.125rem, 48rem, 85.3125rem, 1rem);
            line-height: 1.1875;
        }
    }
}

@include min-screen(1366px) {
    .tags {
        &__wrapper {
            padding: 0.9375rem 11.20058565153734% 2.375rem 11.20058565153734%;
        }

        &__title {
            @include fluidFontSize(1.75rem, 2.5rem, 85.375rem, 104.9375rem, 1.75rem);
            line-height: 1.214285714285714;
            margin-bottom: 1.5625rem;
        }

        &__list {
            gap: 1.5625rem 2.25rem
        }

        @supports not (aspect-ratio: 1 / 1) {
            .tags__wrapper {
                padding-bottom: 2.375rem;
                padding-right: 10.5%;
            }

            .tags__item {
                margin-right: 1.125rem;
                margin-left: 1.125rem;
                margin-bottom: 0.78125rem;
                margin-top: 0.78125rem;
            }
        }

        &__link {
            @include fluidFontSize(1.125rem, 1.375rem, 85.375rem, 104.9375rem, 1.125rem);
            line-height: 1.222;
        }
    }
}

@include min-screen(1680px) {
    .tags {
        @include flex-setting(column, flex-start, center);

        &__wrapper {
            padding: 1.875rem 0 2.8125rem 0;
            max-width: 1440px;
        }

        &__title {
            font-size: 2.5rem;
            line-height: 1.2;
            margin-bottom: 1.875rem;
        }

        &__list {
            gap: 1.3125rem 2.75rem
        }

        @supports not (aspect-ratio: 1 / 1) {
            .tags__wrapper {
                max-width: 1460px;
                padding-bottom: 2.15625rem;
                padding-right: 0;
            }

            .tags__item {
                margin-right: 1.375rem;
                margin-left: 1.375rem;
                margin-bottom: 0.65625rem;
                margin-top: 0.65625rem;
            }
        }

        &__link {
            font-size: 1.375rem;
            line-height: 1.1818;
        }
    }
}
