.watch {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    &__upper {
        width: 100%;
        background-color: transparent;
    }

    &__info {
        display: none;
    }
}
